{% extends "gcampuscore/base.html" %}
{% load i18n static map auth_token %}
{% block extra_head %}
    {{ block.super }}
    {% load_mapbox_css %}
    {% load_mapbox_js %}
{% endblock %}
{% block main_class %}main-pt-0{% endblock %}
{% block navbar_title %}
    <span>{% translate "1. Metadata" %}</span>
    {% if request.resolver_match.view_name == "gcampuscore:edit-measurement" %}
        <a href="{% url "gcampuscore:edit-parameters" pk=object.pk %}" class="text-muted text-decoration-none ms-3">{% translate "2. Measured values" %}</a>
    {% else %}
        <span class="text-muted text-decoration-none ms-3">{% translate "2. Measured values" %}</span>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <form method="POST" class="{% if form.errors %}has-validation{% endif %}">
            {% csrf_token %}
            {% auth_token %}
            <div class="row">
                <div class="col-7 px-5">
                    <div class="text-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        {% for error in form.token_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-5 bg-light px-5 py-3"></div>

                <div class="col-7 px-5 py-3">
                    {# Name #}
                    {% with form.name as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {# {% include "gcampuscore/forms/components/helptext.html" %} #}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.name.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 py-3">
                    {# Date and time of measurement #}
                    {% with form.time as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.time.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 py-3">
                    {# Location (map) #}
                    {% with field=form.location map_height=400 %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            <style>.mapboxgl-canvas{border-radius: .5rem;}</style>
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                            {% if form.water_name.errors %}
                                <small class="text-danger">{{ form.water_name.errors }}</small>
                            {% endif %}
                            <div class="list-group list-group-water mt-2" id="waterSuggestions">
                                <div class="list-group-item list-group-item-water d-none"
                                     id="waterLoading">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                    <span class="ms-2">
                                        {% translate "Loading ..." %}
                                    </span>
                                </div>
                                <div class="list-group-item list-group-item-hover list-group-item-water cursor-pointer text-center d-none"
                                     id="waterOsm">
                                    <div class="shadow-box"></div>
                                    <div class="shadow-box shadow-box-2"></div>
                                    {% translate "Water not found?" %}
                                    <br>
                                    <small>
                                        {% translate "Search for more waters on OpenStreetMaps" %}
                                    </small>
                                </div>
                                <div class="list-group-item list-group-item-hover list-group-item-water cursor-pointer d-flex flex-row align-items-center gap-3 d-none"
                                     id="waterCustom">
                                    <h4>{% include "gcampuscore/icons/plus-circle.html" %}</h4>
                                    <div>
                                        {% translate "Water still not found?" %}
                                        <br>
                                        <small>
                                            {% translate "Click to add a new water to the database" %}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.location.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 py-3">
                    {# Comment #}
                    {% with form.comment as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/textarea.html" with widget=field.subwidgets.0.data %}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.comment.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 pb-5">
                    <button class="btn btn-primary btn-lg">
                        {% translate "Save and Continue" %}
                    </button>
                </div>
                <div class="col-5 bg-light px-5 py-3"></div>
            </div>
        </form>
    </div>
{% endblock %}
{% block extra_body %}
    <script type="text/html" id="waterSuggestionTemplate">
        {% include "gcampuscore/components/water_suggestion.html" %}
    </script>
    <script type="text/javascript" src="{% static 'gcampuscore/js/watersuggestion.js' %}"></script>
    <script type="text/javascript" src="{% static 'gcampuscore/js/autofocus.js' %}"></script>
{% endblock %}
