{% extends "gcampuscore/base.html" %}
{% load i18n static map %}
{% block extra_head %}
    {{ block.super }}
    {% load_mapbox_css %}
{% endblock %}
{% block main_class %}main-pb-0 main-pt-0{% endblock %}
{% block navbar_title %}{% endblock %}
{% block navbar_other %}
    <ul class="nav navbar-nav me-auto">
        {% trans "1. Metadata" as metadata_title %}
        {% translate "2. Measured values" as values_title %}
        <li class="nav-item">
            <span class="nav-link text-dark">{{ metadata_title }}</span>
        </li>
        {% if request.resolver_match.view_name == "gcampuscore:edit-measurement" %}
            <li class="nav-item">
                <a href="{% url "gcampuscore:edit-parameters" pk=object.pk %}" class="nav-link link-dark">{{ values_title }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link link-dark disabled">{{ values_title }}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <form method="POST" id="measurementForm" class="{% if form.errors %}has-validation{% endif %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-7 px-5">
                    <div class="text-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        {% for error in form.token_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-5 bg-light px-5 py-3"></div>

                <div class="col-7 px-5 py-3">
                    {# Name #}
                    {% with form.name as field %}
                        <div class="mb-3">
                            <h5>{% include "gcampuscore/forms/components/label.html" with class="mb-2" %}</h5>
                            {# {% include "gcampuscore/forms/components/helptext.html" %} #}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.name.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 py-3">
                    {# Date and time of measurement #}
                    {% with form.time as field %}
                        <div class="mb-3">
                            <h5>{% include "gcampuscore/forms/components/label.html" with class="mb-2" %}</h5>
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.time.help_text }}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    {# Location (map) #}
                    <hr>
                    {% with field=form.location map_height=400 %}
                        <div class="mb-3">
                            <h5>{% include "gcampuscore/forms/components/label.html" with class="mb-2" %}</h5>
                            <div class="mb-3 border px-3 rounded-3">
                                <div class="my-2">
                                    {% translate "Follow these steps to select the location and the correct water:" %}
                                </div>
                                <ol class="mb-2 fw-light">
                                    <li>{% translate "Drop the pin (click) on the map at the place of your measurement." %}</li>
                                    <li>
                                        {% blocktranslate trimmed %}
                                            Select the correct water from the list below.
                                            If your water is not shown right away,
                                            use the last option of the list to start
                                            a more detailed search or create a new one.
                                        {% endblocktranslate %}
                                    </li>
                                </ol>
                            </div>
                            <style>.mapboxgl-canvas{border-radius: .5rem;}</style>
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                            {% if form.water.errors %}
                                <small class="text-danger">{{ form.water.errors }}</small>
                            {% endif %}
                            <div class="list-group list-group-spaced mt-2" id="waterSuggestions">
                                <div class="list-group-item list-group-item-spaced d-none"
                                     id="waterLoading">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                    <span class="ms-2">
                                        {% translate "Loading ..." %}
                                    </span>
                                </div>
                                <div class="list-group-item list-group-item-hover list-group-item-spaced cursor-pointer text-center d-none"
                                     id="waterOsm">
                                    <div class="shadow-box"></div>
                                    <div class="shadow-box shadow-box-2"></div>
                                    {% translate "Water not found?" %}
                                    <br>
                                    <small>
                                        {% translate "Search for more waters on OpenStreetMaps" %}
                                    </small>
                                </div>
                                {% include "gcampuscore/components/water_custom.html" with form=water_form only %}
                            </div>
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.location.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 py-3">
                    {# Comment #}
                    <hr>
                    {% with form.comment as field %}
                        <div class="mb-3">
                            <h5>{% include "gcampuscore/forms/components/label.html" with class="mb-2" %}</h5>
                            <div class="mb-3 border px-3 rounded-3">
                                <div class="my-2">
                                    {% blocktranslate trimmed %}
                                        Add more information on the environmental conditions which may be helpful
                                        to evaluate your measurement. The following questions are some examples,
                                        but you can document anything which seems useful to you.
                                    {% endblocktranslate %}
                                </div>
                                <ul class="mb-2 fw-light">
                                    <li>{% translate "Did you collect your samples from the lakeside / river bank or from the center of the water?" %}</li>
                                    <li>{% translate "Which visual observations did you make during your measurement?" %}</li>
                                </ul>
                            </div>
                            {% include "gcampuscore/forms/widgets/textarea.html" with widget=field.subwidgets.0.data %}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {{ form.comment.help_text }}
                    </p>
                </div>

                <div class="col-7 px-5 pb-5">
                    <button class="btn btn-primary btn-lg">
                        {% translate "Save and Continue" %}
                    </button>
                </div>
                <div class="col-5 bg-light px-5 py-3"></div>
            </div>
        </form>
    <form action="{% url "gcampusapi:water-list" %}" method="post" id="customWaterForm"></form>
    </div>
{% endblock %}
{% block extra_body %}
    {% load_mapbox_js %}
    <script type="text/html" id="waterSuggestionTemplate">
        {% include "gcampuscore/components/water_suggestion.html" %}
    </script>
    <script type="text/javascript" src="{% static 'gcampuscore/js/watersuggestion.js' %}"></script>
    <script type="text/javascript" src="{% static 'gcampuscore/js/autofocus.js' %}"></script>
{% endblock %}
