parameters.html{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Add Parameters" %}
{% endblock %}
{% block body_class %}bg-light{% endblock %}
{% block navbar_title %}{% endblock %}
{% block navbar_other %}
    <ul class="nav navbar-nav me-auto">
        {% translate "1. Metadata" as metadata_title %}
        {% translate "2. Measured Parameters" as chemical_parameters_title %}
        {% translate "3. Saprobic Abundancies" as biological_parameters_title %}
        {% translate "4. Structural Assessment" as structure_index_title %}

        {% url "gcampuscore:edit-measurement" pk=object.pk as edit_url %}
        {% include "gcampuscore/components/nav_item.html" with url=edit_url title=metadata_title view_name="gcampuscore:edit-measurement" %}

        {% url "gcampuscore:edit-chemical-parameters" pk=object.pk as chemical_parameter_url %}
        {% include "gcampuscore/components/nav_item.html" with url=chemical_parameter_url title=chemical_parameters_title view_name="gcampuscore:edit-chemical-parameters" %}

        {% url "gcampuscore:edit-biological-parameters" pk=object.pk as biological_parameter_url %}
        {% include "gcampuscore/components/nav_item.html" with url=biological_parameter_url title=biological_parameters_title view_name="gcampuscore:edit-biological-parameters" %}

        {% if request.resolver_match.view_name == "gcampuscore:edit-structure-index" %}
            {% url "gcampuscore:edit-structure-index" pk=object.pk as structure_index_url %}
            {% include "gcampuscore/components/nav_item.html" with url=structure_index_url title=structure_index_title view_name="gcampuscore:edit-structure-index" %}
        {% else %}
            {% url "gcampuscore:add-structure-index" pk=object.pk as structure_index_url %}
            {% include "gcampuscore/components/nav_item.html" with url=structure_index_url title=structure_index_title view_name="gcampuscore:add-structure-index" %}
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form method="POST" id="StructureIndexForm" class="{% if form.errors %}has-validation{% endif %}">
                    {% csrf_token %}
                    <div class="px-5">
                        <div class="text-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            {% for error in form.token_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.utilization %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.margin %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.course %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.bank_vegetation %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.bank_structure %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.cross_section %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.flow %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.depth_variance %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.riverbed %}
                    {% include "gcampuscore/forms/components/structure_component.html" with field=form.continuity %}
                    <div class="mt-3 w-100 align-items-end d-flex">
                        <a href="." class="ms-auto btn btn-secondary btn-block">
                            {% translate "Discard" %}
                        </a>
                        <button type="submit"
                                class="ms-2 btn btn-primary btn-block">
                            {% translate "Save" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script type="text/javascript" src="{% static 'gcampuscore/js/dynamicformset.js' %}"></script>
    <script type="text/javascript">
        window.addEventListener('load', () => {
            let formset = new gcampuscore.dynamicformset.DynamicFormset("{{ formset.prefix }}");
        });
    </script>
{% endblock %}
