{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Verification" %}
{% endblock %}

{% block body_class %}bg-light{% endblock %}
{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2> {% blocktranslate %}
                Verify with a {{ token_type }} Token
            {% endblocktranslate %}</h2>
        </div>
        {% if set_token_type == "Student" %}
            {% if "token" in request.session %}
                <div class="py-5 text-center">
                    <h3> {% blocktranslate %}
                        You are currently logged in with a Student Token
                    {% endblocktranslate %}</h3>
                </div>
            {% endif %}
        {% elif set_token_type == "Teacher" %}
            <div class="py-5 text-center">
                {% if "token" in request.session %}
                    <h3> {% blocktranslate %}
                        You are currently logged in with a Teacher Token
                    {% endblocktranslate %}</h3>
                    </div>
                {% endif %}
        {% endif %}
            <div class="invalid-feedback">
                {{ form.non_field_errors }}
            </div>
                <form method="POST">
                <div class="row justify-content-center text-center">
                <div class="col-lg-4">
                    {% csrf_token %}
                    {# Token #}
                    {% with form.token as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                    {% if "token" not in request.session %}
                        <div class="col-lg-2">
                            <button class="btn btn-primary btn-lg">
                                {% translate "Confirm" %}
                            </button>
                        </div>
                    {% else %}
                        <div class="button-box col-lg-12">
                            <a href="/logout" class="btn btn-lg btn-danger" role="button">{% translate "Log Out" %}</a>
                            <button class="btn btn-primary btn-lg">
                                {% translate "Log in with new Token" %}
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
{% endblock %}

