{% extends "gcampuscore/base.html" %}
{% load i18n map l10n tz %}
{% block extra_head %}
    {{ block.super }}
    {% load_mapbox_css %}
    {% load_mapbox_js %}
{% endblock %}
{% block body_class %}d-flex flex-column min-vh-100{% endblock %}
{% block main_class %}main-pt-0 px-0{% endblock %}
{% block navbar_title %}<span>{{ object }}</span>{% endblock %}
{% if can_edit %}
    {% block modals %}
        {{ block.super }}
        <div class="modal fade"
             id="deleteModal"
             tabindex="-1"
             aria-labelledby="deleteModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">
                            {% translate "Delete Measurement" %}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="{% translate "Close" %}"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url "gcampuscore:delete-measurement" pk=object.pk %}">
                            {% csrf_token %}
                            {% blocktranslate trimmed %}
                                Are you sure you want to delete this measurement?
                            {% endblocktranslate %}
                            <ul>
                                <li>
                                    <b>{% translate "Name" %}:</b>
                                    {{ object.name }}
                                </li>
                                <li>
                                    <b>{% translate "Time" context "measurement time" %}:</b>
                                    {{ object.time|localtime|localtime|localize }}
                                </li>
                                <li>
                                    <b>{% translate "Water name" %}:</b>
                                    {% if object.water_name %}
                                        {{ object.water_name }}
                                    {% else %}
                                        {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">
                                    {% translate "Close" %}
                                </button>
                                <button type="submit" class="btn btn-danger">
                                    {% translate "Delete" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% block content %}
    <script>
        function loadCluster(event) {
            let map = event.target;
            var lng = {{ measurement.location.x|unlocalize }};
            var lat = {{ measurement.location.y|unlocalize }};
            const marker = new gcampusmap['mapbox-gl'].mapboxgl.Marker()
                .setLngLat([lng, lat])
                .addTo(map);
            map.addSource('measurements', {
                type: 'geojson',
                data: '/api/v1/measurements/',
                cluster: true,
                clusterMaxZoom: 14, // Max zoom to cluster points on
                clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
            });
            map.addLayer({
                id: 'clusters',
                type: 'circle',
                source: 'measurements',
                filter: ['has', 'point_count'],
                paint: {
                    // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                    // with three steps to implement three types of circles:
                    //   * Blue, 20px circles when point count is less than 100
                    //   * Yellow, 30px circles when point count is between 100 and 750
                    //   * Pink, 40px circles when point count is greater than or equal to 750
                    'circle-color': [
                        'step',
                        ['get', 'point_count'],
                        '#51bbd6',
                        100,
                        '#f1f075',
                        750,
                        '#f28cb1'
                    ],
                    'circle-radius': [
                        'step',
                        ['get', 'point_count'],
                        20,
                        100,
                        30,
                        750,
                        40
                    ]
                }
            });

            map.addLayer({
                id: 'cluster-count',
                type: 'symbol',
                source: 'measurements',
                filter: ['has', 'point_count'],
                layout: {
                    'text-field': '{point_count_abbreviated}',
                    'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                    'text-size': 12
                }
            });

            map.addLayer({
                id: 'unclustered-point',
                type: 'circle',
                source: 'measurements',
                filter: ['!', ['has', 'point_count']],
                paint: {
                    'circle-color': '#11b4da',
                    'circle-radius': 8,
                    'circle-stroke-width': 3,
                    'circle-stroke-color': '#fff'
                }
            });

            // inspect a cluster on click
            map.on('click', 'clusters', function (e) {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['clusters']
                });
                var clusterId = features[0].properties.cluster_id;
                map.getSource('measurements').getClusterExpansionZoom(
                    clusterId,
                    function (err, zoom) {
                        if (err) return;

                        map.easeTo({
                            center: features[0].geometry.coordinates,
                            zoom: zoom
                        });
                    }
                );
            });

            // When a click event occurs on a feature in
            // the unclustered-point layer, open a popup at
            // the location of the feature, with
            // description HTML from its properties.
            map.on('click', 'unclustered-point', function (e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                // Ensure that if the map is zoomed out such that
                // multiple copies of the feature are visible, the
                // popup appears over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                let measurementName = String(e.features[0].properties.title);
                let measurementURL = String(e.features[0].properties.url);
                let html = "<a href=" + measurementURL + ">" + measurementName + "</a>";
                new mapboxgl.Popup().setLngLat(coordinates).setHTML(html).addTo(map);
            });

            map.on('mouseenter', 'clusters', function () {
                map.getCanvas().style.cursor = 'pointer';
            });
            map.on('mouseleave', 'clusters', function () {
                map.getCanvas().style.cursor = '';
            });

        }
    </script>
    <div class="container-fluid px-0">
        <div class="bg-light" id="measurement-head">
            <div class="container py-4">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between mb-3">
                            <div>
                                <small class="text-muted">{% translate "Water name" %}</small>
                                <br>
                                <h4>
                                    {% if object.water_name %}
                                        {{ object.water_name }}
                                    {% else %}
                                        {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                    {% endif %}
                                </h4>
                            </div>
                            <div>
                                <small class="text-muted">{% translate "Time" context "measurement time" %}</small>
                                <br>
                                <h4>{{ object.time|localtime|localtime|localize }}</h4>
                            </div>
                            {# Add additional div for placing #}
                            <div></div>
                        </div>
                        <div class="mb-3">
                            <small class="text-muted">{% translate "Note" %}</small>
                            <br>
                            <p>
                                {% if object.comment %}
                                    {{ object.comment }}
                                {% else %}
                                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                {% endif %}
                            </p>
                        </div>
                        <div class="mt-auto">
                            <a class="btn btn-sm btn-primary"
                               href="{% url "gcampuscore:mapview" %}{% map_options_url lat=measurement.location.x|unlocalize long=measurement.location.y|unlocalize zoom=14 %}"
                               role="link">
                                {% translate "Explore environment" %}
                            </a>
                            <a class="btn btn-sm btn-secondary"
                               href="{% url "gcampusdocuments:measurement-detail" pk=measurement.pk %}"
                               role="link">
                                {% translate "Download PDF" %}
                            </a>
                            {% if can_edit %}
                                <a href="{% url "gcampuscore:edit-measurement" pk=measurement.pk %}"
                                   class="btn btn-sm btn-secondary"
                                   role="button">
                                    {% translate "Edit" %}
                                </a>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal">
                                    {% translate "Delete" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <style>
                            #map-detail {
                                width: 100%;
                                height: 320px;
                            }
                        </style>
                        {% map onload="loadCluster" zoom=14 container="map-detail" class="shadow-sm" center=measurement.location.tuple %}
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4" id="measurement-body measurement-data">
            <div class="container">
                <h3 class="mb-4 fw-light">{% translate "Measured values" %}</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">{% translate "Parameter" %}</th>
                        <th scope="col">{% translate "Value" %}</th>
                        <th scope="col">{% translate "Note" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for parameter in object.parameters.all %}
                        <tr>
                            <td>{{ parameter.parameter_type }}</td>
                            <td class="font-monospace">
                                {{ parameter.value }} {{ parameter.parameter_type.unit }}
                            </td>
                            <td>
                                {% if parameter.comment %}
                                    <div>
                                        <a class="text-decoration-none"
                                           data-bs-toggle="collapse"
                                           href="#CommentCollapse{{ forloop.counter }}"
                                           role="button"
                                           onclick="setCookie()"
                                           id="CommentCollapseButton{{ forloop.counter }}"
                                           aria-controls="CommentCollapse{{ forloop.counter }}">
                                            {% translate "Expand note" %}
                                        </a>
                                    </div>
                                    <div class="collapse"
                                         id="CommentCollapse{{ forloop.counter }}">
                                        <div class="card card-body">
                                            <small>{{ parameter.comment }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}






