{% extends "gcampuscore/base.html" %}
{% load i18n map l10n icon %}
{% block extra_head %}
    {% load_mapbox_css %}
    {% load_mapbox_js %}
{% endblock %}
{% block body_class %}d-flex flex-column min-vh-100{% endblock %}
{% block navbar_title %}
    <span class="">{{object}}</span>
{% endblock %}
{% block content %}
    <script>
        function loadCluster(event) {
            let map = event.target;
            var lng = {{ measurement.location.x|unlocalize }};
            var lat = {{ measurement.location.y|unlocalize }};
            const marker = new gcampusmap.mapboxgl.Marker()
                .setLngLat([lng, lat])
                .addTo(map);
            map.addSource('measurements', {
                type: 'geojson',
                data: '/api/v1/measurements/',
                cluster: true,
                clusterMaxZoom: 14, // Max zoom to cluster points on
                clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
            });
            map.addLayer({
                id: 'clusters',
                type: 'circle',
                source: 'measurements',
                filter: ['has', 'point_count'],
                paint: {
                    // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                    // with three steps to implement three types of circles:
                    //   * Blue, 20px circles when point count is less than 100
                    //   * Yellow, 30px circles when point count is between 100 and 750
                    //   * Pink, 40px circles when point count is greater than or equal to 750
                    'circle-color': [
                        'step',
                        ['get', 'point_count'],
                        '#51bbd6',
                        100,
                        '#f1f075',
                        750,
                        '#f28cb1'
                    ],
                    'circle-radius': [
                        'step',
                        ['get', 'point_count'],
                        20,
                        100,
                        30,
                        750,
                        40
                    ]
                }
            });

            map.addLayer({
                id: 'cluster-count',
                type: 'symbol',
                source: 'measurements',
                filter: ['has', 'point_count'],
                layout: {
                    'text-field': '{point_count_abbreviated}',
                    'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                    'text-size': 12
                }
            });

            map.addLayer({
                id: 'unclustered-point',
                type: 'circle',
                source: 'measurements',
                filter: ['!', ['has', 'point_count']],
                paint: {
                    'circle-color': '#11b4da',
                    'circle-radius': 8,
                    'circle-stroke-width': 3,
                    'circle-stroke-color': '#fff'
                }
            });

            // inspect a cluster on click
            map.on('click', 'clusters', function (e) {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['clusters']
                });
                var clusterId = features[0].properties.cluster_id;
                map.getSource('measurements').getClusterExpansionZoom(
                    clusterId,
                    function (err, zoom) {
                        if (err) return;

                        map.easeTo({
                            center: features[0].geometry.coordinates,
                            zoom: zoom
                        });
                    }
                );
            });

            // When a click event occurs on a feature in
            // the unclustered-point layer, open a popup at
            // the location of the feature, with
            // description HTML from its properties.
            map.on('click', 'unclustered-point', function (e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                // Ensure that if the map is zoomed out such that
                // multiple copies of the feature are visible, the
                // popup appears over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }
                let measurementName = String(e.features[0].properties.title);
                let measurementURL = String(e.features[0].properties.url);
                let html = "<a href=" + measurementURL + ">" + measurementName + "</a>";
                new mapboxgl.Popup().setLngLat(coordinates).setHTML(html).addTo(map);
            });

            map.on('mouseenter', 'clusters', function () {
                map.getCanvas().style.cursor = 'pointer';
            });
            map.on('mouseleave', 'clusters', function () {
                map.getCanvas().style.cursor = '';
            });

        }
    </script>
    <div class="bg-light" id="measurement-head">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column">
                    {% comment %}<h3 class="mb-4 fw-light">{{ object }}</h3>{%  endcomment %}
                    {% if object.hidden %}
                        <h3 class="mb-4 text-danger"> {% translate "This measurement is hidden" %} </h3>
                    {% endif %}
                    <div class="d-flex flex-row justify-content-between mb-3">
                        <div>
                            <small class="text-muted">{% translate "Water name" %}</small>
                            <br>
                            <h4>
                                {% if object.water_name %}
                                    {{ object.water_name }}
                                {% else %}
                                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                {% endif %}
                            </h4>
                        </div>
                        <div>
                            <small class="text-muted">{% translate "Time" %}</small>
                            <br>
                            <h4>{{ object.time|localize }}</h4>
                        </div>
                        <div></div>
                        {# Add additional div for placing #}
                    </div>
                    <div class="mb-3">
                        <small class="text-muted">{% translate "Comment" %}</small>
                        <br>
                        <p>
                            {% if object.comment %}
                                {{ object.comment }}
                            {% else %}
                                {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="mt-auto">
                        {% if measurement.token.token is not None %}
                            {% if measurement.token.token == user_token or measurement.token.parent_token.token == user_token %}
                                <a href="{% url "gcampuscore:edit_parameters" pk=measurement.pk %}"
                                   class="btn btn-sm btn-secondary"
                                   role="button">
                                    {% translate "Edit Measurement" %}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if measurement.token.token is not None %}
                            {% if measurement.token.parent_token.token == user_token %}
                                <form class="d-inline-block" method="post" action="{% if measurement.hidden %}{% url "gcampuscore:show" %}{% else %}{% url "gcampuscore:hide" %}{% endif %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="measurement" value="{{ measurement.pk }}"/>
                                    <button class="btn btn-sm">
                                        {% if measurement.hidden %}
                                            {% icon "eye" height="16px" width="16px" %}
                                            {% translate "Make public" %}
                                        {% else %}
                                            {% icon "eye-off" height="16px" width="16px"%}
                                            {% translate "Hide" %}
                                        {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <style>
                        #map-detail {
                            width: 100%;
                            height: 320px;
                        }
                    </style>
                    {% map onload="loadCluster" zoom=14 container="map-detail" class="shadow-sm" center=measurement.location.tuple %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-4" id="measurement-body measurement-data">
        <div class="container">
            <h3 class="mb-4 fw-light">{% translate "Data points" %}</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">{% translate "Data type" %}</th>
                    <th scope="col">{% translate "Value" %}</th>
                    <th scope="col">{% translate "Comment" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for parameter in object.parameters.all %}
                    <tr>
                        <td>{{ parameter.parameter_type }}</td>
                        <td class="font-monospace">
                            {{ parameter.value|localize }} {{ parameter.parameter_type.unit }}
                        </td>
                        <td>
                            {% if parameter.comment %}
                                <div>
                                    <a class="text-decoration-none"
                                       data-bs-toggle="collapse"
                                       href="#CommentCollapse{{ forloop.counter }}"
                                       role="button"
                                       onclick="setCookie()"
                                       id="CommentCollapseButton{{ forloop.counter }}"
                                       aria-controls="CommentCollapse{{ forloop.counter }}">
                                        {% translate "Expand comment" %}
                                    </a>
                                </div>
                                <div class="collapse"
                                     id="CommentCollapse{{ forloop.counter }}">
                                    <div class="card card-body">
                                        <small>{{ parameter.comment }}</small>
                                    </div>
                                </div>
                            {% else %}
                                {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}






