{% extends "gcampuscore/base.html" %}
{% load i18n leaflet_tags l10n %}
{% block extra_head %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block content %}
    <div class="bg-light" id="measurement-head">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h3 class="mb-4 fw-light">{{ object }}</h3>
                    <div class="d-flex flex-row justify-content-between mb-3">
                        <div>
                            <small class="text-muted">{% translate "Water name" %}</small>
                            <br>
                            <h4>
                                {% if object.water_name %}
                                    {{ object.water_name }}
                                {% else %}
                                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                                {% endif %}
                            </h4>
                        </div>
                        <div>
                            <small class="text-muted">{% translate "Time" %}</small>
                            <br>
                            <h4>{{ object.time|localize }}</h4>
                        </div>
                        <div></div>
                        {# Add additional div for placing #}
                    </div>
                    <div class="mb-3">
                        <small class="text-muted">{% translate "Comment" %}</small>
                        <br>
                        <p>
                            {% if object.comment %}
                                {{ object.comment }}
                            {% else %}
                                {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="mt-auto">
                        {% if measurement.token.token is not None %}
                            {% if measurement.token.token == request.session.gcampusauth_token.token or measurement.token.parent_token.token == request.session.gcampusauth_token.token %}
                                <a href="{% url "gcampuscore:edit_data_points" measurement_id=measurement.pk %}"
                                   class="btn btn-sm btn-secondary"
                                   role="button">
                                    {% translate "Edit Measurement" %}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if measurement.token.token is not None %}
                            {% if measurement.token.parent_token.token == request.session.gcampusauth_token.token %}
                                {% if not measurement.hidden %}
                                <a href="{% url "gcampuscore:deactivate" pk=measurement.pk %}"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    {% translate "Deactivate" %}
                                </a>
                                    {% else %}
                                    <a href="{% url "gcampuscore:activate" pk=measurement.pk %}"
                                   class="btn btn-sm btn-success"
                                   role="button">
                                    {% translate "Activate" %}
                                </a>
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="shadow-sm">
                        {% leaflet_map "measurement_map" callback="window.map_init_basic" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4" id="measurement-body measurement-data">
        <div class="container">
            <h3 class="mb-4 fw-light">{% translate "Data points" %}</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">{% translate "Data type" %}</th>
                    <th scope="col">{% translate "Value" %}</th>
                    <th scope="col">{% translate "Comment" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for datapoint in object.data_points.all %}
                    <tr>
                        <td>{{ datapoint.data_type }}</td>
                        <td class="font-monospace">
                            {{ datapoint.value|localize }} {{ datapoint.data_type.unit }}
                        </td>
                        <td>
                            {% if datapoint.comment %}
                                <div>
                                    <a class="text-decoration-none"
                                       data-bs-toggle="collapse"
                                       href="#CommentCollapse{{ forloop.counter }}"
                                       role="button"
                                       onclick="setCookie()"
                                       id="CommentCollapseButton{{ forloop.counter }}"
                                       aria-controls="CommentCollapse{{ forloop.counter }}">
                                        {% translate "Expand comment" %}
                                    </a>
                                </div>
                                <div class="collapse"
                                     id="CommentCollapse{{ forloop.counter }}">
                                    <div class="card card-body">
                                        <small>{{ datapoint.comment }}</small>
                                    </div>
                                </div>
                            {% else %}
                                {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function map_init_basic(map) {
            let close_locations = []
            let location_long = "{{ measurement.location.coords.0 }}".replace(",", ".");
            let location_lat = "{{ measurement.location.coords.1 }}".replace(",", ".");
            let location = [parseFloat(location_lat), parseFloat(location_long)];
            let name = "{% translate "Measurement by" %} " + "{{ measurement.name }}";
            marker = new L.marker(location)
                .bindPopup(name)
                .addTo(map);

            let additional_long = null;
            let additional_lat = null;
            let additional_name = null;
            let additional_link = null;
            let additional_location = null;
            {% for measurement in close_measurements %}
                additional_long = "{{ measurement.location.coords.0 }}".replace(",", ".");
                additional_lat = "{{ measurement.location.coords.1 }}".replace(",", ".");
                additional_name = "{% translate "Measurement by" %} " + "{{ measurement.name }}";
                additional_link = "{% url "gcampuscore:measurement_detail" pk=measurement.pk %}";
                additional_location = [additional_name, parseFloat(additional_lat), parseFloat(additional_long), additional_link];
                close_locations.push(additional_location)
            {% endfor %}

            for (var i = 0; i < close_locations.length; i++) {
                circleMarker = new L.circleMarker([close_locations[i][1], close_locations[i][2]], {radius: 5})
                    .bindPopup('<a href="' + close_locations[i][3] + '">' + close_locations[i][0] + '</a>')
                    .addTo(map);
            }
            map.setView(location, 12);
        }


    </script>
{% endblock %}






