{% extends "gcampuscore/base.html" %}
{% load i18n static auth_token %}
{% block title %}
    {% translate "Successful Login" %}
{% endblock %}


{% block body_class %}bg-light{% endblock %}
{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>{% blocktrans %} You successfully made the measurement "{{ measurement }}" public {% endblocktrans %}</h2>
        </div>

        <div class="row justify-content-center text-center">
            <div class="button-box col-lg-12">
                <a href="/" class="btn btn-lg btn-primary" role="button">{% translate "Mapview" %}</a>
                <a href="/measurements" class="btn btn-lg btn-primary"
                   role="button">{% translate "All Measurements" %}</a>
                <a href="/course/measurements" class="btn btn-lg btn-primary"
                   role="button">{% translate "Course Measurements" %}</a>
                <a href="/measurement/{{ measurement.pk }}/detail" class="btn btn-lg btn-primary"
                   role="button">{% translate "Make Measurement public" %}</a>
                {% if request.session.gcampusauth_token.token_type == "course"%}
                 <a href="{% url "gcampuscore:associated_accesskeys" %}"
                                   class="btn btn-lg btn-primary"
                    role="button">{% translate "Associated AccesKeys" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

