{% extends "gcampusmail/components/paragraph.html" %}
{% load i18n auth_token %}
{% block content %}
    {% translate "N/A" context "no value provided (water name, comment, etc)" as not_any %}
    <b>{% translate "Course token" %}:</b>
    {% displaytoken course.course_token.token hidden=False toggle=False %}
    <br>
    {% blocktranslate trimmed %}
        With this <b>course token</b>, you can manage your
        course and edit your student's measurements. Thus,
        this key should be kept private.
    {% endblocktranslate %}
    <br>
    <br>
    <b>{% translate "School Name" %}:</b>
    {% firstof course.school_name not_any %}
    <br>
    <b>{% translate "Course Name" %}:</b>
    {% firstof course.name not_any %}
    <br>
    <b>{% translate "Teacher Name" %}:</b>
    {% firstof course.teacher_name not_any %}
    <br>
    <br>
    <b>{% translate "Access keys" %}:</b>
    <br>
    <ol>
        {% for access_key in course.access_keys.all %}
            <li style="margin-bottom: 8px">
                {% displaytoken access_key.token hidden=False toggle=False %}
            </li>
        {% endfor %}
    </ol>
    {% blocktranslate trimmed %}
        All this information can also be found on the attached PDF
        document. This document is intended to be printed so that you
        can fill in the names of your students to the corresponding
        access keys.
    {% endblocktranslate %}
{% endblock %}
