.DS_Store

# Python
*.pyc
__pycache__
/venv
/.venv
.coverage

# Compiled Static Files
# Enabled again for compiling static files in multiple steps
# static/

# Node
/node_modules

# Database
*.sqlite3
*.db

# IDE
.idea
.vscode
README.md
requirements-dev.txt
artwork
.github
fixture.json

# Generated PDF files
/*.pdf
/media
