django~=6.0

psycopg[binary]~=3.3
celery[redis]~=5.6
redis~=6.4
gevent~=26.4
gunicorn[gevent]~=25.3
whitenoise~=6.12

geopy~=2.4
httpx~=0.28
rich~=15.0
premailer~=3.10
lxml~=6.1
numpy~=2.4
scikit-learn~=1.8
sentry-sdk~=2.58
django-rich~=2.2
django-leaflet~=0.33
django-filter~=25.2
django-celery-results~=2.6

djangorestframework-gis~=1.2
djangorestframework~=3.16

weasyprint~=68.1
XlsxWriter~=3.2

pillow~=12.2
