django~=4.1

django-storages~=1.13.1
boto3~=1.24.62
psycogreen~=1.0.2
psycopg2-binary~=2.9.3
celery[redis]~=5.2
redis~=4.3.4
gevent~=22.10.2
gunicorn[gevent]~=20.1

geopy~=2.2.0
httpx~=0.23
rich~=12.5
premailer~=3.10
lxml~=4.9.1
pypandoc~=1.8
sentry-sdk~=1.9
django-rich~=1.4
django-leaflet~=0.28.2
django-filter~=22.1
django-celery-results~=2.4.0

djangorestframework-gis~=1.0.0
djangorestframework~=3.14.0

weasyprint~=53.3
xlsx-streaming==1.1.0
XlsxWriter~=3.0.3

numpy~=1.23.2
