{% load i18n %}
<li class="list-group-item list-group-item-spaced d-flex justify-content-between align-items-start py-3 collapse{% if not show %} d-none{% endif %}" aria-expanded="{% if show %}true{% else %}false{% endif %}" id="id_{{ form.prefix }}-FORM">
    <div class="ms-2 flex-fill">
        <div class="row">
            <div class="col-md">
                {% with form.parameter_type as field %}
                    {% include "gcampuscore/forms/components/label.html" with class="mb-1" %}
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="col-md">
                {% with form.value as field %}
                    {% include "gcampuscore/forms/components/label.html" with class="mb-1" %}
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% with form.comment as field %}
            {% include "gcampuscore/forms/components/label.html" with class="my-1" %}
            {{ field }}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endwith %}
    </div>
    <button type="button" id="{{ form.DELETE.id_for_label }}-button" class="btn-close" aria-label="Close"></button>
    <div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </div>
    {% if overlay %}
        <div class="list-group-item-overlay text-center d-flex flex-column justify-content-center" id="id_{{ formset.prefix }}-ADD">
            <h4>{% include "gcampuscore/icons/plus-circle.html" %}</h4>
            <div>
                {% translate "Add a parameter" %}
                <br>
                <small>
                    {% translate "Click to add a new parameter to your measurement" %}
                </small>
            </div>
        </div>
    {% endif %}
</li>
