{% extends "gcampuscore/base.html" %}
{% load i18n %}
{% block main_class %}px-0 main-pt-0 min-vh-100{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            {% for parameter in object_list %}
                <div class="col-7 px-5">
                    <p class="mt-3">
                        {% blocktranslate %}
                        {{ parameter }}
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-5 bg-light"></div>
                {# Placeholder #}
                <div class="col-7 px-5 py-3">
                    <div class="mb-3">
                        {% include "gcampusanalysis/components/od_converter_item.html" with parameter=parameter %}
                    </div>
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                    {% include "gcampusanalysis/components/chart.html" with parameter=parameter %}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

