{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'gcampusanalysis/js/calibration.js' %}"></script>
{% endblock %}
{% block main_class %}main-pt-0{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            {% for parameter in object_list %}
                <div class="col-7 px-5">
                    <p class="mt-5">
                        <h3>{{ parameter.name }}</h3>
                    </p>
                </div>
                <div class="col-5 bg-light"></div>
                {# Placeholder #}
               {% include "gcampusanalysis/components/od_converter_item.html" %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

