{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'gcampusanalysis/js/calibration.js' %}"></script>
{% endblock %}
{% block main_class %}main-pb-0 main-pt-0{% endblock %}
{% block navbar_title %}
    {% translate "Optical Density Converter" %} - {{ parameter.name }}
{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-7">
                <div class="mt-3 mx-4 mb-5 p-3 bg-light">
                    {% if parameter.unit != "" %}
                        {% blocktranslate trimmed with name=parameter.name unit=parameter.unit %}
                            This tool helps you to convert the optical density you measured with the photometer into
                            the concentration of <b>{{ name }}</b> in {{ unit }}.
                        {% endblocktranslate %}
                    {% else %}
                        {% blocktranslate trimmed with name=parameter.name unit=parameter.unit %}
                            This tool helps you to convert the optical density you measured with the photometer into
                            <b>{{ name }}</b>.
                        {% endblocktranslate %}
                    {% endif %}
                    <div class="mt-2 text-end">
                        <a class="btn btn-sm btn-secondary" href="{% url "gcampusanalysis:od_converter_overview" %}">
                            {% translate "Select different parameter" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-5 bg-light"></div>
            {# Placeholder #}
        </div>
        {% for calibration in calibrations %}
            <div class="row">
                <div class="col-7 px-5">
                    <p class="mt-5">
                    <h3>{{ calibration.name }}</h3>
                    </p>
                </div>
                <div class="col-5 bg-light"></div>
                {# Placeholder #}
                {% include "gcampusanalysis/components/od_converter_item.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

