{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'gcampusanalysis/js/calibration.js' %}"></script>
{% endblock %}
{% block main_class %}main-pb-0 main-pt-0{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-7 px-5">
                <div class="text-secondary mt-4">
                    {% blocktranslate trimmed with url="https://desk-lab.de/docs/gcampus-calibration" %}
                        This tool helps you to convert the optical density you measured with the photometer into
                        the value of the specific parameter. It uses a standard calibration which has been prepared
                        by the GewässerCampus team. You can find more information on how to create and
                        use a calibration <a href={{ url }} class="text-reset">here</a>.
                    {% endblocktranslate %}
                </div>
                {% for calibration in calibrations %}
                    <p class="mt-5">
                    <h3>{{ calibration.name }}</h3>
                    </p>
                    </div>
                    <div class="col-5 bg-light"></div>
                    {# Placeholder #}
                    {% include "gcampusanalysis/components/od_converter_item.html" %}
                {% endfor %}
        </div>
    </div>
{% endblock %}

