.qrcode {
    width: 2cm;
    height: 2cm;
    padding-right: 0.2cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
}

.footer-qrcode {
    width: 1.7cm;
    height: 1.7cm;
    padding: 0cm 0cm 0cm 0cm;
}

.qrcode-heading {
    padding-bottom: 0.15cm;
    padding-top: 0cm;
    margin-top: 0cm;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}