body {
    margin: 0cm;
}

@page {
    margin: 3cm 2cm 1.5cm 2cm; // top right bottom left
    padding-bottom: 2.6cm;
}

.footer {
    position: fixed;
    bottom: -2.6cm;
    left: 0;
    right: 0;
    font-size: 7.5pt;
    color: $grey-500;
}

.footer-top {
    display: flow-root;
    height: 14pt;
}

.footer-left {
    width: 8cm;
    float: left;
    font-size: 9pt;
    text-align: left;
}

.footer-right {
    width: 6cm;
    float: right;
    font-size: 9pt;
    text-align: right;
}

.footer-center {
    border-top: $grey-500 1px solid;
    padding-top: .1cm;
    font-size: 7.5pt;
    text-align: justify;
}
