{% extends "gcampuscore/base.html" %}
{% load i18n map %}
{% block extra_head %}
    {{ block.super }}
    {% load_mapbox_css %}
{% endblock %}
{% block main_class %}min-vh-100-wo-footer px-0 main-pt-0{% endblock %}
{% block navbar_title %}
    <span class="">GewässerCampus</span>
{% endblock %}
{% block content %}
    {% map onload="loadCluster" class="h-100 w-100" %}
{% endblock %}
{% block extra_body %}
    <script type="text/html" id="measurementPopupTemplate">
        {% include "gcampuscore/components/map_popup.html" %}
    </script>
    <script>
        function loadCluster(event) {
            gcampusmap['mapbox-gl'].setupCluster(
                '{% url "gcampusapi:measurement-list" %}', event.target
            );
        }
    </script>
    {% load_mapbox_js %}
{% endblock %}
