{% extends "gcampuscore/base.html" %}
{% load i18n map %}
{% block extra_head %}
    {{ block.super }}
    {% load_mapbox_css %}
{% endblock %}
{% block main_class %}min-vh-100 main-pb-0 px-0 main-pt-0{% endblock %}
{% block navbar_title %}
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-column">
            <span class="fs-6">
                <i class="circle-icon water-icon standing"></i>
                <small class="text-dark">
                    {% translate "Measurement at standing water" as standing_water %}
                    {{ standing_water|capfirst }}
                </small>
            </span>
            <span class="fs-6">
                <i class="circle-icon water-icon running"></i>
                <small class="text-dark">
                    {% translate "Measurement at running water" as running_water %}
                    {{ running_water|capfirst }}
                </small>
            </span>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% map onload="loadCluster" class="h-100 w-100" %}
{% endblock %}
{% block extra_body %}
    <script type="text/html" id="measurementPopupTemplate">
        {% include "gcampuscore/components/map_popup.html" %}
    </script>
    <script>
        function loadCluster(event) {
            gcampusmap['mapbox-gl'].setupCluster(
                '{% url "gcampusapi:measurement-list" %}', event.target
            );
        }
    </script>
    {% load_mapbox_js %}
{% endblock %}
