{% load static %}
<link rel="preload" href="{% static 'gcampusauth/fonts/JetBrainsMono-Medium.woff2' %}" as="font" type="font/woff2" crossorigin>
<style>
    @font-face {
        font-family: 'JetBrains Mono';
        src: url('{% static 'gcampusauth/fonts/JetBrainsMono-Medium.woff2' %}') format('woff'),
        url('{% static 'gcampusauth/fonts/JetBrainsMono-Medium.ttf' %}') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    .token-char {
        font-weight: normal;
        font-family: 'JetBrains Mono', monospace;
    }
    .token-hidden {
         color: var(--bs-gray-800);
     }

    .token-digit {
         color: #496ea6;
     }

    .token-letter {
         color: var(--bs-gray-800);
    }
    .token-separator {
        display: inline-block;
        font-weight: normal;
        font-family: 'JetBrains Mono', monospace;
        width: 0.6ch;
        margin-left: 0.2ch;
        margin-right: 0.2ch;
        margin-bottom: 0.2ch;
        vertical-align: middle;
        border-bottom: 2pt solid var(--bs-gray-500);
    }

    @media print {
        .token-char {
            font-weight: normal;
            font-family: 'JetBrains Mono', monospace;
        }

        .token-digit {
            color: #ffffff;
        }

        .token-letter {
            color: #ffffff;
        }

        .token-separator {
            display: inline-block;
            font-weight: normal;
            font-family: 'JetBrains Mono', monospace;
            width: 0.08cm;
            margin-left: 0.04cm;
            margin-right: 0.04cm;
            margin-bottom: 0.06cm;
            vertical-align: middle;
        }
    }
</style>
