@page :first{
    margin: 0cm;
    background: url("gcampus:background-frontpage.svg");
    background-position: -0.02cm -0.02cm;
    background-size: 21cm;
    background-repeat: no-repeat;
}

@page {
    margin: 0cm;
    background: url("gcampus:top-right-qrcode-gcampus.svg");
    background-position: 13.02cm -0.02cm;
    background-size: 8cm;
    background-repeat: no-repeat;
}


body {
    margin: 0;
}

head, head > title, head > meta {
    display: inline;
    visibility: hidden;
    position: absolute;
    top: -1000px;
}
