{% extends "gcampuscore/base.html" %}
{% load i18n auth_token %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "Accesskeys associatted to my Coursetoken" %}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Access Key" %}</th>
                    <th></th>
                    <th>{% translate "Measurement" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for key in access_keys %}
                    <tr>
                        <td>
                            {{ key.token }}
                        </td>
                        <td>
                            {% if key.deactivated == False %}
                             <a href="{% url "gcampuscore:deactivate" pk=key.pk %}"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    {% translate "Deactivate Token" %}
                                </a>
                            {% else %}
                            <a href="{% url "gcampuscore:activate" pk=key.pk %}"
                                   class="btn btn-sm btn-success"
                                   role="button">
                                    {% translate "Activate Token" %}
                                </a>
                            {%  endif %}
                        </td>
                        <td class="text-center">
                            {% for measurement in measurements %}
                                {% if measurement.token.token == key.token %}
                                     <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}"
                                   class="btn btn-sm btn-primary"
                                   role="button">
                                    {{ measurement }}
                                </a>
                                  <br>
                                {% endif %}

                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

