{% extends "gcampuscore/base.html" %}
{% load i18n auth_token %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}
{% block content %}
    {# TODO: Why do we need this here? Do we just check the permission with this? #}
    {% auth_token %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "Accesskeys associatted to my Coursetoken" %}</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            <a href="{% url "gcampuscore:course_measuremets" %}"
               class="btn btn-lg btn-primary"
               role="button">
                {% translate "All Measurements of the Course" %}
            </a>
            <a href="{% url "gcampuscore:associated_accesskeys" %}"
               class="btn btn-lg btn-primary"
               role="button">
                {% translate "All associated Accesskeys" %}
            </a>
            <a href="{% url "gcampusauth:register_success" pk=key_id token=request.session.gcampusauth_token.token %}"
               class="btn btn-lg btn-primary"
               role="button">
                {% translate "List of all generated Tokens" %}
            </a>
        </div>
    </div>
{% endblock %}

