{% extends "gcampuscore/base.html" %}
{% load i18n auth_token icon %}
{% block content %}
    <div class="container-fluid">
        {% csrf_token %}
        <div class="row">
            <div class="col-7 p-5">
                <h3>{% translate "Your Coursetoken is" %}
                    {% displaytoken form.instance.token hidden=True toggle=True %}
                </h3>
            </div>
            {# Placeholder #}
            <div class="col-7 px-5 py-3">
                <h4>{% translate "Coursetoken Name" %}
                </h4>
                {{ form.instance.token_name }}
                <br>
                <h4>{% translate "E-Mail" %}</h4>
                {{ form.instance.teacher_email }}
            </div>
            <div class="col-5  px-5 py-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    {% translate "Edit" %}
                </button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="py-5 text-center">

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit E-Mail and Coursetoken Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% auth_token %}
                                {% with field=form.token_name %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        <div class="rounded-2">
                                            {{ field }}
                                            <div id="token_name"></div>
                                        </div>
                                    </div>
                                {% endwith %}
                                {% with field=form.teacher_email %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        <div class="rounded-2">
                                            {{ field }}
                                            <div id="token_name"></div>
                                        </div>
                                    </div>
                                {% endwith %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Access Key" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key in access_keys %}
                    <tr>
                        <td>
                            {% displaytoken key.token hidden=False %}
                        </td>
                        <td>
                            <form class="d-inline-block" method="post" action="
                                    {% if key.deactivated %}{% url "gcampuscore:activate" pk=key.pk %}{% else %}{% url "gcampuscore:deactivate" pk=key.pk %}{% endif %}">
                                {% csrf_token %}
                                <input type="hidden" name="measurement" value="{{ key.pk }}"/>

                                {% if key.deactivated %}
                                    <button class="btn btn-success">
                                    {% translate "Activate" %}
                                {% else %}
                                    <button class="btn btn-danger">
                                    {% translate "Deactivate" %}
                                {% endif %}
                                </button>
                            </form>
                            {% comment %}
                            {% if key.deactivated == False %}

                                <a href="{% url "gcampuscore:deactivate" pk=key.pk %}"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    {% translate "Deactivate Key" %}
                                </a>
                            {% else %}
                                <a href="{% url "gcampuscore:activate" pk=key.pk %}"
                                   class="btn btn-sm btn-success"
                                   role="button">
                                    {% translate "Activate Key" %}
                                </a>
                            {% endif %}
                            {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <form method="post" action="{% url "gcampuscore:generate_new_accesskeys" %}">
                    {% csrf_token %}
                    {% with field=generate_accesskeys_form.count %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/components/helptext.html" %}
                            <div class="rounded-2">
                                {{ field }}
                                <div id="generate_accesskeys"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">{% translate "Generate new Accesskeys" %}</button>
                    {% endwith %}
                </form>
            </div>
            <div class="py-5 text-center">
                {% icon "file-text" class="css-class" height="42" width="42" %}
                <button class="btn btn-lg btn-primary me-2"
                        type="button"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="{% translate "Download your course token and all access keys in  a PDF" %}">
                    {% translate "Download" %}
                </button>
                {% icon "mail" class="css-class" height="42" width="42" %}
                <button class="btn btn-lg btn-primary me-2"
                        type="button"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="{% translate "Send your course token and all access keys in a PDF via Email" %}">
                    {% translate "Send to my E-Mail" %}
                </button>
            </div>

        </div>
    </div>
    {% displaytoken_js %}
{% endblock %}

