{% extends "gcampuscore/base.html" %}
{% load i18n auth_token icon %}
{% block title %}
    {% translate "Course Overview" %}
{% endblock %}
{% block extra_head %}
    {% displaytoken_head %}
{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert" id="alert_register">
        {% blocktranslate %}You successfully registered yourself. This page is an overview over all of your
            Accesskeys.{% endblocktranslate %}
    </div>
    <div class="container-fluid">

        {% csrf_token %}
        <div class="row">
            <div class="col-7 p-5">
                <h3>{% translate "Your Coursetoken is" %}
                    {% displaytoken request.session.gcampusauth_token.token hidden=True toggle=True %}
                </h3>
            </div>
            <div class="col-5 bg-light">
                <div class="col-7 p-5">
{#                    TODO Remove this code #}
                    <button class="btn btn-primary btn">Show Coursetoken</button>
                </div>
            </div>
            {# Placeholder #}
            <div class="col-7 px-5 py-3">
                <h4>{% translate "Coursetoken Name" %}
                    {{ form.initial.token_name }}
                </h4>
                <br>
                <h4>{% translate "E-Mail" %}</h4>

                <div>{{ form.initial.teacher_email }}</div>
            </div>
            <div class="col-5 bg-light px-5 py-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    {% translate "Edit" %}
                </button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="py-5 text-center">

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% auth_token %}
                                {% with field=form.token_name %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        <div class="rounded-2">
                                            {{ field }}
                                            <div id="token_name"></div>
                                        </div>
                                    </div>
                                {% endwith %}
                                {% with field=form.teacher_email %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        <div class="rounded-2">
                                            {{ field }}
                                            <div id="token_name"></div>
                                        </div>
                                    </div>
                                {% endwith %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Access Key" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key in access_keys %}
                    <tr>
                        <td>
                            {% displaytoken key.token hidden=False %}
                        </td>
                        <td>
                            {% if key.deactivated == False %}
                                <a href="{% url "gcampuscore:deactivate" pk=key.pk %}"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    {% translate "Deactivate Token" %}
                                </a>
                            {% else %}
                                <a href="{% url "gcampuscore:activate" pk=key.pk %}"
                                   class="btn btn-sm btn-success"
                                   role="button">
                                    {% translate "Activate Token" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="py-5 text-center">
                {% icon "file-text" class="css-class" height="42" width="42" %}
                <button class="btn btn-lg btn-primary me-2"
                        type="button"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="{% translate "Download your course token and all access keys in  a PDF" %}">
                    {% translate "Download" %}
                </button>
                {% icon "mail" class="css-class" height="42" width="42" %}
                <button class="btn btn-lg btn-primary me-2"
                        type="button"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="{% translate "Send your course token and all access keys in a PDF via Email" %}">
                    {% translate "Send to my E-Mail" %}
                </button>
            </div>
        </div>
    </div>

    <script>
        function Alert() {
            // This function puts the alert sign at the top of the site
            // if the user is redirected from the register page.
            var alert = document.getElementById('alert_register');
            var previous_page = String(document.referrer);
            if (previous_page.includes("register")) {
                alert.hidden = false;
            } else {
                alert.hidden = true;
            }
        }

        Alert()
    </script>
    {% displaytoken_js %}
{% endblock %}

