{% extends "gcampuscore/base.html" %}
{% load i18n auth_token icon %}
{% block title %}
    {% translate "Course Overview" %}
{% endblock %}
{% block content %}
        <div class="alert alert-success" role="alert" id="alert_register">
        {% blocktranslate %}You successfully registered yourself. This page is an overview over all of your Accesskeys.{% endblocktranslate %}
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "Your Coursetoken is" %}
                <div id="token_hide"></div>
            </h2>
        </div>
        <button class="btn btn-primary btn-lg" onclick="ShowAndHide()">Show Coursetoken</button>
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% auth_token %}
                {% with field=form.token_name %}
                    <div class="mb-3">
                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                        {% include "gcampuscore/forms/components/helptext.html" %}
                        <div class="rounded-2">
                            {{ field }}
                            <div id="token_name"></div>
                        </div>
                    </div>
                {% endwith %}
                {% with field=form.teacher_email %}
                    <div class="mb-3">
                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                        {% include "gcampuscore/forms/components/helptext.html" %}
                        <div class="rounded-2">
                            {{ field }}
                            <div id="token_name"></div>
                        </div>
                    </div>
                {% endwith %}
                <button class="btn btn-primary btn-lg">
                    {% translate "Save Changes" %}
                </button>
            </form>
        </div>
        <div class="col-auto">
            <table class="table table-responsive">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{% translate "Access Key" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key in access_keys %}
                    <tr>
                        <td>
                            {{ key.token }}
                        </td>
                        <td>
                            {% if key.deactivated == False %}
                                <a href="{% url "gcampuscore:deactivate" pk=key.pk %}"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    {% translate "Deactivate Token" %}
                                </a>
                            {% else %}
                                <a href="{% url "gcampuscore:activate" pk=key.pk %}"
                                   class="btn btn-sm btn-success"
                                   role="button">
                                    {% translate "Activate Token" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="py-5 text-center">
            {% icon "file-text" class="css-class" height="42" width="42" %}
    <button class="btn btn-lg btn-primary me-2"
                type="button"
                data-bs-toggle="tooltip" data-bs-placement="top"
                title="{% translate "Download your course token and all access keys in  a PDF" %}">
            {% translate "Download" %}
        </button>
        {% icon "mail" class="css-class" height="42" width="42" %}
    <button class="btn btn-lg btn-primary me-2"
                type="button"
                data-bs-toggle="tooltip" data-bs-placement="top"
                title="{% translate "Send your course token and all access keys in a PDF via Email" %}">
            {% translate "Send to my E-Mail" %}
        </button>
        </div>
    </div>
    </div>

    <script>
        function ShowAndHide() {
            var token_div = document.getElementById('token_hide');
            if (token_div.innerHTML.includes("*")) {
                token_div.innerText = "{{request.session.gcampusauth_token.token}}";
            } else {
                token_div.innerText = '****-****-*' + "{{request.session.gcampusauth_token.token|slice:"-3:"}}";
            }
        }

        function Alert() {
            var alert = document.getElementById('alert_register');
            var previous_page = String(document.referrer);
            if (previous_page.includes("register")) {
                alert.hidden = false;
            } else {
                alert.hidden = true;
            }
        }
        ShowAndHide("{{request.session.gcampusauth_token.token}}")
        Alert()
    </script>
{% endblock %}

