{% extends "gcampuscore/base.html" %}
{% load i18n auth_token icon %}
{% block modals %}
    {{ block.super }}
    <div class="modal fade"
         id="editModal"
         tabindex="-1"
         aria-labelledby="editModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModal">
                        {% translate "Edit course data" %}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% auth_token %}
                        {% with field=form.school_name %}
                            <div class="mb-3">
                                {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                {% include "gcampuscore/forms/components/helptext.html" %}
                                {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            </div>
                        {% endwith %}
                        {% with field=form.token_name %}
                            <div class="mb-3">
                                {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                {% include "gcampuscore/forms/components/helptext.html" %}
                                {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            </div>
                        {% endwith %}
                        {% with field=form.teacher_name %}
                            <div class="mb-3">
                                {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                {% include "gcampuscore/forms/components/helptext.html" %}
                                {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            </div>
                        {% endwith %}
                        {% with field=form.teacher_email %}
                            <div class="mb-3">
                                {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                {% include "gcampuscore/forms/components/helptext.html" %}
                                {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            </div>
                        {% endwith %}
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">
                                {% translate "Close" %}
                            </button>
                            <button class="btn btn-primary">
                                {% translate "Save" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid" id="course-data">
        <h3 class="pb-2 border-bottom">
            {% translate "Course data" %}
        </h3>

        <div class="row mt-4">
            <div class="col-lg-7">
                <h6>{% translate "Course token" %}</h6>
                <h3 class="fw-normal">
                    {% displaytoken form.instance.token hidden=True toggle=True %}
                </h3>
            </div>
            <div class="col-lg-5">
                {% blocktranslate trimmed %}
                    With this <b>course token</b>, you can manage your
                    course and edit your student's measurements. Thus,
                    this key should be kept private.
                {% endblocktranslate %}
            </div>
        </div>

        <div class="mt-4">
            <h6>{% translate "School Name" %}</h6>
            <h4 class="fw-normal">
                {% if form.instance.school_name %}
                    {{ form.instance.school_name }}
                {% else %}
                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                {% endif %}
            </h4>
        </div>

        <div class="mt-4">
            <h6>{% translate "Course Name" %}</h6>
            <h4 class="fw-normal">
                {% if form.instance.token_name %}
                    {{ form.instance.token_name }}
                {% else %}
                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                {% endif %}
            </h4>
        </div>

        <div class="mt-4">
            <h6>{% translate "Teacher Name" %}</h6>
            <h4 class="fw-normal">
                {% if form.instance.teacher_name %}
                    {{ form.instance.teacher_name }}
                {% else %}
                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                {% endif %}
            </h4>
        </div>

        <button type="button" class="btn btn-secondary mt-4 float-end" data-bs-toggle="modal" data-bs-target="#editModal">
            {% translate "Edit" %}
        </button>

        <div class="mt-4">
            <h6>{% translate "email" %}</h6>
            <h4 class="fw-normal">
                {% if form.instance.teacher_email %}
                    {{ form.instance.teacher_email }}
                {% else %}
                    {% translate "N/A" context "no value provided (water name, comment, etc)" %}
                {% endif %}
            </h4>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <h3 class="pb-2 border-bottom">
            {% translate "Access keys" %}
        </h3>

        <div class="list-group mt-4">
            {% for access_key in access_keys %}
                {% include "gcampusauth/components/access_key_item.html" with access_key=access_key counter=forloop.counter %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid mt-4">
        <h6>{% translate "Generate new Access keys for this course" %}</h6>
        <small class="text-sm text-muted">
            {% blocktrans trimmed %}
                You can generate new access keys for this course without
                the need to register again. The number of access keys is
                limited to {{ register_max_access_key }} per course.
            {% endblocktrans %}
        </small>
        <form class="mt-2" method="post" action="{% url "gcampusauth:generate-new-access-keys" %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto">
                    {% with field=generate_accesskeys_form.count %}
                        {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                    {% endwith %}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">
                        {% translate "Generate access keys" %}
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid my-5 pb-5">
        <h3 class="pb-2 border-bottom">
            {% translate "Documents" %}
        </h3>
        <div class="mt-4 bg-light border border-primary rounded-3 container-fluid">
            <div class="row align-items-center mt-4">
                <div class="col-10">
                    <h5>{% translate "Save course overview" %}</h5>
                    <div class="text-sm text-muted">
                        {% blocktrans trimmed %}
                            Download a PDF with a summary of your registration
                            data, your course token, and the all access keys
                            of your course.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-2">
                    <a class="btn me-2 float-end"
                       href="{% url "gcampusdocuments:documents-overview" %}"
                       role="link">
                        {% icon "download" class="d-inline-block align-text-top" height="16" width="16" %} &nbsp;
                        {% translate "Download PDF" %}
                    </a>
                </div>
            </div>

            <hr class="my-4">

            <div class="row align-items-center">
                <div class="col-10">
                    <h5>{% translate "Save access keys" %}</h5>
                    <div class="text-sm text-muted">
                        {% blocktrans trimmed %}
                            Download a PDF with all access keys
                            (one key per page/student)
                            of your course with instructions for your students.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-2">
                    <a class="btn me-2 float-end"
                       href="{% url "gcampusdocuments:accesskey-combined" %}"
                       role="link">
                        {% icon "download" class="d-inline-block align-text-top" height="16" width="16" %} &nbsp;
                        {% translate "Download PDF" %}
                    </a>
                </div>
            </div>

            <hr class="my-4">

            <div class="row align-items-center">
                <div class="col-10">
                    <h5>{% translate "Send to my email" %}</h5>
                    <div class="text-sm text-muted">
                        {% blocktrans trimmed with course_data_url="#course-data" %}
                            Send your course token and all access keys in a PDF
                            via email. You can change your email address in the
                            <a class="text-dark" href="{{ course_data_url }}">course data section</a>.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-2">
                    <a class="btn me-2 float-end"
                       href="#"
                       role="link">
                        {% icon "mail" class="d-inline-block align-text-top" height="16" width="16" %} &nbsp;
                        {% translate "Send email" %}
                    </a>
                </div>
            </div>

            <hr class="my-4">

            <div class="row align-items-center mb-4">
                <div class="col-10">
                    <h5>{% translate "Share a link" %}</h5>
                    <div class="text-sm text-muted">
                        {% blocktrans trimmed %}
                            Get a link to share the PDF with a summary of your
                            registration data, your course token and the all
                            access keys of your course.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-2">
                    <a class="btn me-2 float-end"
                       href="#"
                       role="link">
                        {% icon "link" class="d-inline-block align-text-top" height="16" width="16" %} &nbsp;
                        {% translate "Create Link" %}
                    </a>
                </div>
            </div>

        </div>
    </div>


    {% displaytoken_js %}
{% endblock %}
