{% extends "gcampuscore/base.html" %}
{% load i18n static auth_token %}
{% block title %}
    {% translate "Successful Login" %}
{% endblock %}


{% block body_class %}bg-light{% endblock %}
{% block content %}
     {% auth_token %}

     <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h4 class="display-5 lh-1 mb-3">
                    welcome to
                </h4>
                <h2 class="display-3 fw-bold lh-1 mb-3">
                    <span class="text-dark">Gewässer</span><span class="text-primary">Campus</span> 
                </h2>
                
                <div class="col-lg-10 fs-5 py-5 text-muted">
                    {% if user_token_is_course_token %}
                        {% translate "You successfully logged in with a course token. Use one of these actions to start:" %}
                    {% elif user_token_is_access_key  %}
                        {% translate "You successfully logged in with an access key. Use one of these actions to start:" %}
                    {% endif %}
                </div>
    
                {% if user_token_is_course_token %}
                    <a href="{% url "gcampuscore:course_measurements" %}" 
                            class="btn btn-lg btn-primary"
                            role="button">
                        {% translate "See measurements of my course" %}
                    </a>
                    <a href="{% url "gcampuscore:course_overview" %}" 
                            class="btn btn-lg btn-secondary mx-5"
                            role="button">
                        {% translate "Manage Access Keys" %}
                    </a>
                {% elif user_token_is_access_key %}
                    <a href="{% url "gcampuscore:course_measurements" %}" 
                            class="btn btn-lg btn-primary"
                            role="button">
                        {% translate "Add new measurement" %}
                    </a>
                    <a href="{% url "gcampuscore:personal_measurements" %}" 
                            class="btn btn-lg btn-secondary mx-5"
                            role="button">
                        {% translate "See my personal measurements" %}
                    </a>
                {% endif %}

            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <a href="/">
                    <img src="{% static "gcampusauth/assets/map_preview.png" %}" class="rounded-3" width="500" height="420">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

