{% load i18n %}
<table class="container footer" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <td align="center">
            <table class="inner-container border-top" border="0" cellpadding="0" cellspacing="0" width="620" align="center">
                <tr>
                    <td class="footer-content">
                        {% blocktranslate trimmed %}
                            Development of the web application GewässerCampus is
                            financially supported by the
                            Deutsche Bundesstiftung Umwelt.
                        {% endblocktranslate %}
                        <br>
                        &copy; 2020-2022
                        <a href="https://desk-lab.de/" target="_blank">desklab gUG (haftungsbeschränkt)</a>.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
