{% load static settings %}
<table class="header inner-container" border="0" cellpadding="0" cellspacing="0" width="620">
    <tr>
        <td align="left">
            <a href="/">
                {% settings "ENVIRONMENT" as deploy_env %}
                {% if deploy_env == "dev" %}
                    <img src="{% static "gcampuscore/assets/favicon-dev.png" %}" width="28" height="28" class="d-inline-block align-text-bottom me-2">
                {% else %}
                    <img src="{% static "gcampuscore/assets/favicon.png" %}" width="28" height="28" class="d-inline-block align-text-bottom me-2">
                {% endif %}
                GewässerCampus
            </a>
        </td>
    </tr>
</table>
