{% load static %}
{% load auth_token print_static i18n %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="{% print_static "gcampusdocuments/styles/gcampus.css" %}" rel="stylesheet">
    <title>gcampus Document</title>
    <meta name="id" content="gcampus-doc-01">
    {% displaytoken_head %}
    <style>
        @page {
            @top-right {
                content: "{% now "d/m/Y H:i:s" %} \A {% translate "version" %} {{ GCAMPUS_VERSION }} \A {% translate "page" %} " counter(page) " {% translate "of" %} " counter(pages);
                white-space: pre-line;
                color: #606060;
                font-size: 7pt;
                padding-top: 1.2cm;
            }
            @top-left {
                background: url("{% print_static 'gcampusdocuments/assets/gcampus-print-header-left.png' %}"); {# TODO: localize text in logo #}
                background-repeat: no-repeat;
                background-position: left;
                background-size: 100% auto;
                display: block;
                height: 1.6cm;
                width: 13cm;
                content: '';
            }
        }
    </style>
</head>
<body>

    <div class="footer-left">
        <span class="bold">{% translate "Document ID" %}</span>: GC-ADMIN-CO
    </div>

    <div class="footer-right">
        <a href="https://gewaessercampus.de" class="footer-link">www.gewaessercampus.de</a>
    </div>

    <div class="footer-center container">
        <div class="w-88 float-left">
            {% blocktrans trimmed %}
                The project <span class="color-secondary">Gewässer</span><span class="color-primary">Campus</span>
                is carried out by <i>gemeinnützige desklab&nbsp;UG (haftungsbeschränkt)</i> in cooperation with
                <i>AG&nbsp;Bioverfahrenstechnik der TU&nbsp;Kaiserslautern</i> and financially supported by the
                <i>Deutsche Bundesstiftung Umwelt</i>. More educational material and information on this project
                is available at www.gewaessercampus.de.
            {% endblocktrans %}
        </div>
        <div class="footer-qrcode float-right">
            <img src="{% print_static 'gcampusdocuments/assets/gcampus-qr-code.png' %}" alt="">
        </div>
    </div>

    <article>
        <div class="gcampus-print-page">

            <!-- general information -->
            <div class="w-100">
                <div class="rotated-section-heading color-grey w-abs-250">
                    {% translate "Info" %}
                </div>        
                <div class="text-justify h-abs-250 document-description">
                    {% blocktrans trimmed %}
                        This document was created automatically and contains 
                        a summary of the registration, the access keys for using 
                        the GewässerCampus web application, 
                        and the course token to manage the course.
                    {% endblocktrans %}
                </div>
            </div>
   
            <!-- course data and token -->
            <div class="w-100">
                <div class="rotated-section-heading color-primary w-abs-550">
                    {% translate "Course data" %}
                </div>        
                <div class="coursedata-container overflow-hidden h-abs-550 w-abs-1600">

                    <div class="float-left w-abs-900 coursedata">
                        <div class="coursedata-heading">
                            {% translate "name of school" %}
                        </div>
                        <div class="coursedata-content">
                            {{ course_token.school_name }}
                        </div>    
                        <div class="coursedata-heading">
                            {% translate "email" %}
                        </div>
                        <div class="coursedata-content">
                            {{ course_token.teacher_email }}
                        </div> 
                        <div class="coursedata-heading">
                            {% translate "name of course" %}
                        </div>
                        <div class="coursedata-content">
                            {{ course_token.token_name }}
                        </div>
                    </div>

                    <div class="float-left w-abs-600">
                        <div class="coursetoken">
                            {% displaytoken course_token.token hidden=False toggle=False %}  
                        </div>
                        <div class="coursetoken-description">
                            {% blocktrans trimmed %}
                                The course token is needed to be able to manage all 
                                measurements of the of the corresponding access keys 
                                (see below). 
                                Therefore, it should not be given to the students.
                            {% endblocktrans %}
                        </div>  
                    </div>
   
                </div>
            </div>
        
            <!-- access keys for students -->
            <div class="w-100">
                <div class="rotated-section-heading color-secondary w-abs-1300">
                    {% translate "Access keys" %}
                </div> 
                <div class="accesskey-description w-abs-1500 h-abs-250">
                    {% blocktrans trimmed %}
                        This access key is required to create new measurements 
                        and to be able to edit them afterwards. 
                        An access key can be used several times, similar to a 
                        password, a user name is not necessary. Students working 
                        together in a group can use the same access key.
                    {% endblocktrans %}
                </div> 
                <div class="accesskey-container overflow-hidden w-abs-1600 h-abs-1100">
                    {% for token in course_token.access_keys.all|dictsort:"deactivated" %}
                    {% if token.deactivated == False %}
                        <div class="accesskey-element float-left overflow-hidden">
                            <div class="accesskey-counter float-left">
                                {{ forloop.counter }}
                            </div>
                            <div class="accesskey-key float-left">
                                {% displaytoken token.token hidden=False toggle=False %}
                            </div>
                            <div class="accesskey-notice float-left">
                                .
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

       </div>

    </article>
</body>
</html>
