{% load auth_token print_static i18n l10n tz %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="{% print_static "gcampusdocuments/styles/gcampus.css" %}" rel="stylesheet">
    <title>gcampus Document</title>
    <meta name="id" content="gcampus-doc-01">
    {% displaytoken_head %}
    <style>
        @page {
            @top-right {
                content: "{% now "DATETIME_FORMAT" %} \A {% translate "version" %} {{ GCAMPUS_VERSION }} \A {% translate "page" %} " counter(page) " {% translate "of" %} " counter(pages);
                white-space: pre-line;
                color: #606060;
                font-size: 7pt;
                padding-top: 1.2cm;
            }
            @top-left {
                background: url("{% print_static 'gcampusdocuments/assets/gcampus-print-header-left.png' %}");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 100% auto;
                display: block;
                height: 1.6cm;
                width: 13cm;
                content: '';
            }
        }
    </style>
</head>
<body>

    <div class="footer-left">
        <span class="bold">{% translate "Document ID" %}</span>: GC-DATA-ML
    </div>

    <div class="footer-right">
        <a href="https://gewaessercampus.de" class="footer-link">www.gewaessercampus.de</a>
    </div>

    <div class="footer-center container">
        <div class="w-88 float-left">
            {% blocktrans trimmed %}
                The project <span class="color-secondary">Gewässer</span><span class="color-primary">Campus</span>
                provides more educational material and information on how to analyse water quality at www.gewaessercampus.de.
                This document includes maps and information on water bodies and their names from Mapbox (www.mapbox.com)
                and OpenStreetMap (www.openstreetmap.org) as well as measurement data of GewässerCampus contributors.
                More information on the respective licenses is available online.
            {% endblocktrans %}
        </div>
        <div class="footer-qrcode float-right">
            <img src="{% print_static 'gcampusdocuments/assets/gcampus-qr-code.png' %}" alt="">
        </div>
    </div>

    <article>
        <div class="gcampus-print-page">

            <!-- general information -->
            <div class="w-100">
                <div class="rotated-section-heading color-grey w-abs-250">
                    {% translate "Info" %}
                </div>        
                <div class="text-justify h-abs-250 document-description">
                    {# TODO: add note that comments, which may contan important information, are excluded. #}
                    {%  blocktranslate trimmed %}
                        This document has been created automatically and contains a summary of {{ measurement_count }} measurements.
                    {% endblocktranslate %}
                </div>
            </div>    

            <!-- summary -->
            <div class="w-100">
                <div class="rotated-section-heading color-secondary w-abs-800">
                    {% translate "Summary" %}
                </div>        
                <div class="container measurementinfo-container h-abs-800">
                    <div class="w-abs-700 float-left measurementmeta-container">
                        <h3 class="measurementmeta-content color-secondary">{% translate "Data subset" %}</h3>
                        <small class="measurementmeta-heading text-muted">{{ measurement_count }} {% translate "measurements" %}</small><br>
                        <small class="measurementmeta-heading text-muted">{{ water_count }} {% translate "waters" %}</small><br>
                        <br>
                        <h3 class="measurementmeta-content color-secondary">{% translate "Time range" %}</h3>
                        <small class="measurementmeta-heading text-muted">{{ time_first|localtime|localize }}</small><br>
                        <small class="measurementmeta-heading text-muted">{{ time_last|localtime|localize }}</small><br>
                    </div>
                    <div class="w-abs-800 float-left">
                        <div class ="w-abs-800 h-abs-600">
                            <img src="{{ map }}" alt="Map image">
                        </div>
                    </div>
                </div>
            </div>

            <!-- analysis -->
            <div class="w-100">
                <div class="rotated-section-heading color-primary w-abs-1200">
                    {% translate "Notes" %}
                </div>
                <div class="measurementdata-container h-abs-1200">
                    {% comment %}
                        #TODO: use this space for summary plots with bokeh (?)
                    {% endcomment %}
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="gcampus-print-page">
            <!-- list of measurements -->
            <div class="w-100">
                <div class="rotated-section-heading color-primary w-abs-800">
                    {% translate "Measurements" %}
                </div>  
                <div class="measurementdata-container">
                    {% for measurement in measurements %}
                        <div class="measurementdata-item">
                            <span class="measurementdata-id">
                                # {{ measurement.pk|stringformat:"05d" }}
                            </span>
                            <i class="circle-icon water-icon {{ measurement.water.flow_type }}"></i>
                            <span>
                                {{ measurement.water_name }} ({{ measurement.time|date:"Y-m-d" }})
                            </span>
                            <br>
                            <div class="measurementdata-parameters">
                                {% for parameter in measurement.parameters.all %}
                                    {{ parameter.parameter_type.name }}:&nbsp;
                                    {{ parameter.value }}
                                    {{ parameter.parameter_type.unit }}
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
       </div>
    </article>

</body>
</html>
