{% load i18n icon auth_token %}
<div class="list-group-item list-group-item-hover">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            <small class="text-muted fw-normal me-2">
                {{ counter }}
            </small>
            {% displaytoken access_key.token hidden=False %}
        </h5>
        {% url "gcampusauth:activate" pk=access_key.pk as activate_url %}
        {% url "gcampusauth:deactivate" pk=access_key.pk as deactivate_url %}
        <form class="d-inline-block" method="post" action="{% if access_key.deactivated %}{{ activate_url }}{% else %}{{ deactivate_url }}{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="measurement" value="{{ access_key.pk }}"/>
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonEditKey" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Options" %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonEditKey">
                    <li>
                        <button type="submit" class="dropdown-item text-success text-{{ access_key.deactivated|yesno:"success,danger" }}" href="#">
                            {% if access_key.deactivated %}
                                {% icon "unlock" class="d-inline-block align-text-top me-1" height="16" width="16" %}
                                {% translate "Activate" %}
                            {% else %}
                                {% icon "lock" class="d-inline-block align-text-top me-1" height="16" width="16" %}
                                {% translate "Deactivate" %}
                            {% endif %}
                        </button>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url "gcampusauth:logout" %}">
                            {% icon "external-link" class="d-inline-block align-text-top me-1" height="16" width="16" %}
                            {% translate "Login with this key" %}
                        </a>
                    </li> <!-- TODO: login with key-->
                    <li>
                        <a class="dropdown-item" href="#">
                            {% icon "copy" class="d-inline-block align-text-top me-1" height="16" width="16" %}
                            {% translate "Copy key to clipboard" %}
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <p class="mb-1">
        {% if access_key.deactivated %}
            <span class="badge bg-warning text-dark me-2">
                {% icon "alert-circle" class="d-inline-block align-text-top" height="16" width="16" %}
                {% translate "deactivated" %}
            </span>
        {% endif %}
        <small class="text-muted">
            {% blocktranslate trimmed with count=access_key.measurements.count %}
                {{ count }} measurements so far.
            {% endblocktranslate %}
        </small>
    </p>
</div>
