{% load i18n %}
<span class="displaytoken" data-gcampusauth-toggle="{{ toggle|yesno:"1,0" }}">
    <span class="badge bg-light text-dark border{% if css_class %} {{ css_class }}{% endif %}">
        {% if hidden or toggle %}
            <div class="token-field-hidden{% if not hidden %} d-none{% endif %}">
                {{ token_hidden_html|safe }}
            </div>
        {% endif %}
        {% if has_clear %}
            <div class="token-field-clear{% if hidden %} d-none{% endif %}">
                {{ token_html|safe }}
            </div>
        {% endif %}
    </span>
    {% if toggle %}
        {% translate "Hide" as hide_text %}
        {% translate "Show" as show_text %}
        <button class="btn btn-sm btn-token-show{% if not hidden %} d-none{% endif %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ show_text }}">
            <span class="fs-5">{% include "gcampuscore/icons/eye-slash.html" %}</span>
        </button>
        <button class="btn btn-sm btn-token-hide{% if hidden %} d-none{% endif %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ hide_text }}">
            <span class="fs-5">{% include "gcampuscore/icons/eye.html" %}</span>
        </button>
    {% endif %}
</span>

