{% load mathop %}

<figure class="css-chart">
    <ul class="line-chart">
        <li style="--y: {{ parameter.calibration_offset|multiply:5 }}em; --x: 0em">
            <div class="data-point" id="datapoint_{{ parameter.name }}" data-value="60" style="bottom: 2em; left: 1em;" hidden></div>
            <div class="line-segment" style="--hypotenuse: 12; --angle: -{{ 1|arctan:parameter.calibration_slope }};"></div>
        </li>
    </ul>
</figure>

<style>
    /* The parent element */

    .fig-span {
        position: absolute;
    }
    .css-chart {
        /* The chart borders */
        border-bottom: .1em solid;
        border-left: .1em solid;
        /* The height, which is initially defined in the HTML */
        width: 10em;
        height: 100%;
        /* A little breathing room should there be others items around the chart */
        margin: .1em;
        /* Remove any padding so we have as much space to work with inside the element */
        padding: 0;
        position: relative;
        /* The chart width, as defined in the HTML */
    }


    /* The unordered list holding the data points, no list styling and no spacing */
    .line-chart {
        list-style: none;
        margin: 0;
        padding: 0;
    }


    /* Each point on the chart, each a 12em circle with a light border */
    .data-point {
        background-color: white;
        border: .1em solid lightblue;
        border-radius: 50%;
        height: 1em;
        position: absolute;
        width: 1em;
    }

    .line-segment {
        background-color: blue;
        bottom: var(--y);
        height: .1em;
        left: var(--x);
        position: absolute;
        width: calc(var(--hypotenuse) * 1em);
        transform: rotate(calc(var(--angle) * 1deg));
        transform-origin: left bottom;
    }
</style>