{% load auth_token print_static i18n %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="{% print_static "gcampusprint/styles/gcampus.css" %}" rel="stylesheet">
    <title>gcampus Document</title>
    <meta name="id" content="gcampus-doc-01">
    {% displaytoken_head %}
    <style>
        @page {
            @top-right {
                content: "{% now "d/m/Y H:i:s" %} \A Version {{ GCAMPUS_VERSION }} \A Seite " counter(page) " von " counter(pages);
                white-space: pre-line;
                color: #606060;
                font-size: 7pt;
                padding-top: 1.2cm;
            }
            @top-left {
                background: url("{% print_static 'gcampusprint/assets/gcampus-print-header-left.png' %}");
                background-repeat: no-repeat;
                background-position: left;
                background-size: 100% auto;
                display: block;
                height: 1.6cm;
                width: 13cm;
                content: '';
            }
        }
    </style>
</head>
<body>
    <!-- TODO: add and use translations -->

    <div class="footer-left">
        <span class="bold">Dokument ID</span> GC-AS-XK342K8M <!-- TODO: use ID of document-->
    </div>

    <div class="footer-right">
        <a href="https://gewaessercampus.de" class="footer-link">www.gewaessercampus.de</a>
    </div>

    {% for token in course_token.access_keys.all %}
    {% if token.deactivated == False %}
        <article>
            
            <div class="gcampus-print-page">

                <!-- general information -->
                <div class="w-100">
                    <div class="rotated-section-heading color-grey w-abs-350">
                        Info
                    </div>        
                    <div class="text-justify h-abs-350 student-document-description">
                        Dieses Dokument wurde automatisch erstellt und 
                        enhält einen Zugangscode und weitere Informationen 
                        zur Nutzung der GewässerCampus Webanwendung.
                    </div>
                </div>

                <!-- course data and token -->
                <div class="w-100">
                    <div class="rotated-section-heading color-secondary w-abs-800">
                        Zugangsdaten
                    </div>        
                    <div class="coursedata-container overflow-hidden h-abs-800 w-abs-1600">

                        <div class="float-left w-abs-400">
                            <div class="accesskey-single">
                                {% displaytoken token.token hidden=False toggle=False %} 
                            </div> 
                        </div>

                        <div class="w-abs-900 float-right">
                            <div class="qrcode float-left">
                                <img src="{% print_static 'gcampusprint/assets/gcampus-qr-code.png' %}" alt="">                
                            </div>
                            <div>
                                <div class="qrcode-heading">
                                    zum Login der Webanwendung
                                </div>  
                                <div class="qrcode-description text-justify">
                                    Dieser Link führt zur Login-Seite der 
                                    Webanwendung (www.gewaessercampus.de/login). 
                                    Nach der Eingabe des Zugangscodes können 
                                    Messungen erstellt oder bearbeitet werden.
                                </div>
                            </div>
                        </div>

                        <div class="access-description">
                            Dieser Zugangscode wird benötigt, um neue Messungen zu 
                            erstellen und im Anschluss auch bearbeiten zu können. 
                            Ein Zugangscode kann ähnlich wie ein Passwort mehrfach 
                            verwendet werden, ein Benutzername ist dabei nicht nötig.
                            Schüler:innen, die in einer Gruppe zusammenarbeiten, 
                            können den gleichen Zugangscode nutzen.
                        </div> 

                    </div>
                </div>

                <!-- first stepts -->
                <div class="w-100">
                    <div class="rotated-section-heading color-primary w-abs-800">
                        erste Schritte
                    </div>        
                    <div class="float-left w-abs-1500 firststeps">
                        <div class="firststeps-heading">
                            Gewässer finden und bereits vorhandene Messwerte analysieren
                        </div>
                        <div class="firststeps-content">
                            Mit der GewässerCampus-Karte kannst du dir 
                            Messungen von anderen Schüler:innen anschauen. 
                            Um nach bestimmten Parametern bzw. Messungen zu suchen, 
                            nutzt du am besten die Listenansicht aller Messungen.
                        </div>    
                        <div class="firststeps-heading">
                            Login für die Nutzung weiterer Funktionen
                        </div>
                        <div class="firststeps-content">
                            Um eine neue Messung erstellen zu können, 
                            musst du mit einem Zugangscode angemeldet sein. 
                            Deinen Zugangscode findest du weiter oben auf dieser Seite. 
                            Zum Login kommst du über den dort abgebildeten 
                            QR-Code oder über www.gewaessercampus.de/login.
                        </div>    
                        <div class="firststeps-heading">
                            Erstellen einer neuen Messung
                        </div>
                        <div class="firststeps-content">
                            Sobald du angemeldet bist, wird im Menü 
                            rechts oben dein Courstoken angezeigt und 
                            über den Button direkt daneben kannst 
                            du eine neue Messung erstellen.
                            
                        </div> 
                        <div class="firststeps-heading">
                            Bearbeiten einer vorhandenen Messung
                        </div>
                        <div class="firststeps-content">
                            Um eine von dir erstellte Messung zu bearbeiten, 
                            musst du die Detailansicht dieser Messung aufrufen. 
                            Du kannst dazu die Übersicht deiner Messungen 
                            oder auch die Karten- oder Listenansicht verwenden. 
                        </div>
                    </div>
                </div>

            </div>
        </article>
    {% endif %}
    {% endfor %}

</body>
</html>
