{% load auth_token print_static %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href="{% print_static "gcampusprint/styles/gcampus.css" %}" rel="stylesheet">
    <title>gcampus Document</title>
    <meta name="id" content="gcampus-doc-01">
    {% displaytoken_head %}
    <style>
        
    </style>
</head>
<body>
<article>
    
    <h2>Kursschlüssel</h2>

    ToDo: Erklärung zu Kursschlüssel

    {% displaytoken "F2BT4E87AC5D" hidden=False toggle=False %}

    <h2>Zugangscodes</h2>

    ToDo: Erklärung zu Zugangscodes

    {% with ''|center:15 as range %} 
    {% for _ in range %}
        {{ forloop.counter }}
        {% displaytoken "A3F8HPL2" hidden=False toggle=False %}
        <br>
    {% endfor %}
    {% endwith %}

    
    gcampus version {{ GCAMPUS_VERSION }} <!-- TODO: get version dynamically-->

</article>
</body>
</html>
