$spacer: 1cm !default;
$spacers: () !default;
$spacers: map-merge(
    (
        000: 0,
        025: ($spacer *  0.25),
        050: ($spacer *  0.50),
        075: ($spacer *  0.75),
        100: ($spacer *  1.00),
        150: ($spacer *  1.50)
        200: ($spacer *  2.00),
        300: ($spacer *  3.00),
        400: ($spacer *  4.00),
        800: ($spacer *  8.00),
    ),
    $spacers
);
