{% load static %}
<style>
    @font-face {
        font-family: 'Carlito';
        src: url('{% static 'gcampuscore/fonts/Carlito-Regular.woff2' %}') format('woff'),
            url('{% static 'gcampuscore/fonts/Carlito-Regular.ttf' %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Carlito';
        src: url('{% static 'gcampuscore/fonts/Carlito-Bold.woff2' %}') format('woff'),
            url('{% static 'gcampuscore/fonts/Carlito-Bold.ttf' %}') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'Carlito';
        src: url('{% static 'gcampuscore/fonts/Carlito-BoldItalic.woff2' %}') format('woff'),
            url('{% static 'gcampuscore/fonts/Carlito-BoldItalic.ttf' %}') format('truetype');
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family: 'Carlito';
        src: url('{% static 'gcampuscore/fonts/Carlito-Italic.woff2' %}') format('woff'),
            url('{% static 'gcampuscore/fonts/Carlito-Italic.ttf' %}') format('truetype');
        font-weight: normal;
        font-style: italic;
    }
</style>