{% extends "gcampuscore/base.html" %}
{% load i18n static list_iter %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'gcampustools/js/calibration.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container main-container">
        <h2 class="text-secondary">
            {% translate "Measurement Kits" %}
        </h2>
        <p>
            {% blocktranslate trimmed %}
                Choose the measurement kit you used in combination with the photometer. If you are not sure, which
                kit you have used, ask your teacher.
            {% endblocktranslate %}
        </p>
        <div class="list-group">
            {% for k in object_list %}
                {% include "gcampustools/components/measurement_kit_card.html" with kit=k %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

