{% extends "gcampuscore/base.html" %}
{% load i18n static list_iter %}
{% block content %}
    <div class="container main-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6 my-3">
                    <h2 class="text-secondary">
                        {% translate "Parameter" %}
                    </h2>
                    <div>
                        {% blocktranslate trimmed %}
                            Choose the parameter for which you want to convert the Optical Density.
                        {% endblocktranslate %}
                    </div>
                </div>
                <div class="bg-light border-0 p-2 col-12 col-xl-6 my-3 row">
                    <div class="col">
                        <span class="text-secondary">
                            {% translate "selected kit" %}
                        </span>
                        <h3 class="text-primary">
                            {{ kit.name }}
                        </h3>
                    </div>
                    <div class="col d-flex aligns-items-center my-auto">
                        <a class="btn btn-secondary ms-auto"
                           href="{% url "gcampustools:measurement-kit-overview" %}">
                            {% translate "Select different kit" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-3">
            {% with ''|center:row_num as range %}
                {% for _ in range %}
                    <div class="row">
                        {% if not forloop.counter0|get_iter_num:0 >= param_num %}
                            {% include "gcampustools/components/od_card.html" with row_pos=0 %}
                        {% endif %}
                        {% if not forloop.counter0|get_iter_num:1 >= param_num %}
                            {% include "gcampustools/components/od_card.html" with row_pos=1 %}
                        {% endif %}
                        {% if not forloop.counter0|get_iter_num:2 >= param_num %}
                            {% include "gcampustools/components/od_card.html" with row_pos=2 %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

