{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Logout" %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="/">
                <img src="{% static "gcampuscore/assets/favicon.ico" %}" width="28" height="28" class="d-inline-block align-text-bottom me-2">
                <h3 class="d-inline-block">GewässerCampus</h3>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row align-items-center g-lg-5 py-5 min-vh-100">
            <div class="col-lg-7 text-center text-lg-start">
                <h2 class="display-3 fw-bold text-primary lh-1 mb-3">
                    {% blocktranslate %}Logged out.{% endblocktranslate %}
                </h2>
                <div class="col-lg-10 fs-4">
                    {% blocktranslate trimmed %}
                        Some features, for example adding a new measurement, are limited to
                        authenticated users. Please use your access key or the course token
                        to log in or use on of the following features, 
                        which do not need authentication:<br>
                    {% endblocktranslate %}
                    <a href="/" 
                            class="btn btn-lg btn-secondary my-4"
                            role="button">
                        {% translate "See measurements on the Map" %}
                    </a>
                    <a href="{% url "gcampuscore:measurements" %}" 
                            class="btn btn-lg btn-secondary mx-3 my-4"
                            role="button">
                        {% translate "List all measurements" %}
                    </a>
                </div>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 p-md-5 border rounded-3 bg-light">
                    <a class="w-100 btn btn-lg btn-primary mb-4" role="button"
                       href="{% url "gcampusauth:loginaccesskey" %}">
                        {% translate "Login as Student" %}
                    </a>
                    <a class="w-100 btn btn-lg btn-primary" role="button"
                       href="{% url "gcampusauth:logincoursetoken" %}">
                        {% translate "Login as Teacher" %}
                    </a>
                    <hr class="my-4">
                    <a class="w-100 btn btn-lg" role="button"
                       href="{% url "gcampusauth:register" %}">
                        {% translate "Register new Course" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

