{% extends "gcampuscore/base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Logout" %}
{% endblock %}

{% block body_class %}bg-light{% endblock %}
{% block content %}
    <div class="container">
    <div class="py-5 text-center">
        <h2> {% blocktranslate %}You successfully logged out{% endblocktranslate %}</h2>
    </div>
    </div>

    <div class="container">
    <div class="py-5 text-center">
            <div class="button-box col-lg-12">
                <a href="{% url 'gcampusauth:loginaccesskey' %}" class="btn btn-lg btn-primary" role="button">
                    {% translate "Log in with an access key" %}
                </a>
                <a href="{% url 'gcampusauth:logincoursetoken' %}" class="btn btn-lg btn-primary" role="button">
                    {% translate "Log in with a course token" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

