{% load i18n measurement %}
<div class="indicator-list">
    <div class="indicator-container">
        <i class="circle-icon indicator-icon no3 {% has_parameter_type measurement "no3" %}"
           data-bs-toggle="tooltip" title="{% translate "Nitrate" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon nh4 {% has_parameter_type measurement "nh4" %}"
           data-bs-toggle="tooltip" title="{% translate "Ammonium" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon po4 {% has_parameter_type measurement "po4" %}"
           data-bs-toggle="tooltip" title="{% translate "Phosphate" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon ph {% has_parameter_type measurement "ph" %}"
           data-bs-toggle="tooltip" title="{% translate "pH" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon conductivity {% has_parameter_type measurement "conductivity" %}"
           data-bs-toggle="tooltip" title="{% translate "Conductivity" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon temp {% has_parameter_type measurement "temp" %}"
           data-bs-toggle="tooltip" title="{% translate "Temperature" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon o2 {% has_parameter_type measurement "o2" %}"
           data-bs-toggle="tooltip" title="{% translate "Oxygen" %}"></i>
    </div>
    <div class="indicator-container">
        <i class="circle-icon indicator-icon bod5 {% has_parameter_type measurement "bod5" %}"
           data-bs-toggle="tooltip"
           title="{% translate "BOD5" context "biochemical oxygen demand (BOD5)" %}"></i>
    </div>
</div>
