{% load i18n measurement %}
<div class="bg-light me-2">
    <div class="my-auto p-4">

        <div class="row">
            <div class="col-9">
                <div class="text-secondary fw-bold pb-2">
                    {% translate "BACH Index" %}
                </div>
                {% if measurement.bach_index.validity >= 0.25 %}
                    <div class="index-classification display-1 fw-bolder bach-class-{{ measurement.bach_index.classification }}">
                        {% translate "Class" %} {{ measurement.bach_index.classification }}
                    </div>
                    <div class="index-classification display-4 fw-bolder bach-class-{{ measurement.bach_index.classification }}">
                        {{ measurement.bach_index.description }}
                    </div>
                {% else %}
                    <div class="index-classification display-1 fw-bolder class-unknown">
                        {% translate "N/A" context "no value provided (water name, comment, etc)" as not_any %}
                    </div>
                    <div class="invisible display-4">
                        {% translate "N/A" context "no value provided (water name, comment, etc)" as not_any %}
                    </div>
                {% endif %}
            </div>
            <div class="col-3">
               <div class="display-1 text-end text-gray pe-2">
                   {% include "gcampuscore/icons/droplet-fill.html" with extra_class="flex-shrink-0" %}
               </div>
            </div>
        </div>
        <div class="pt-4 row">
            <div class="col-3">
                <div class="text-secondary fw-light">
                    {% translate "Value" %}
                </div>
                <div class="fw-bold">
                    {% if measurement.bach_index.validity >= 0.4 %}
                        {{ measurement.bach_index.value|floatformat:"2" }}
                    {% else %}
                        {% translate "N/A" context "no value provided (water name, comment, etc)" as not_any %}
                    {% endif %}
                </div>
            </div>
            <div class="col-5">
                <div class="text-secondary fw-light">
                    {% translate "Validity" %}
                </div>
                <div class="fw-bold">
                    {% widthratio measurement.bach_index.validity 1 100 %}%
                </div>
            </div>
            <div class="col-4">
                <div class="text-secondary fw-light">
                    {% translate "Parameters" %}
                </div>
                <div class="indicator-list">
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon no3 {% has_parameter_type measurement "no3" %}"
                           data-bs-toggle="tooltip" title="{% translate "Nitrate" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon nh4 {% has_parameter_type measurement "nh4" %}"
                           data-bs-toggle="tooltip" title="{% translate "Ammonium" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon po4 {% has_parameter_type measurement "po4" %}"
                           data-bs-toggle="tooltip" title="{% translate "Phosphate" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon ph {% has_parameter_type measurement "ph" %}"
                           data-bs-toggle="tooltip" title="{% translate "pH" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon conductivity {% has_parameter_type measurement "conductivity" %}"
                           data-bs-toggle="tooltip" title="{% translate "Conductivity" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon temp {% has_parameter_type measurement "temp" %}"
                           data-bs-toggle="tooltip" title="{% translate "Temperature" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon o2 {% has_parameter_type measurement "o2" %}"
                           data-bs-toggle="tooltip" title="{% translate "Oxygen" %}"></i>
                    </div>
                    <div class="indicator-container">
                        <i class="circle-icon indicator-icon bsb5 {% has_parameter_type measurement "bsb5" %}"
                           data-bs-toggle="tooltip" title="{% translate "BSB5" %}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if measurement.bach_index.validity < 0.4 %}
    <div class="box box-warning d-flex align-items-center py-2 mt-2 me-2" role="alert">
        {% include "gcampuscore/icons/exclamation-triangle-fill.html" with extra_class="flex-shrink-0 me-3" %}
        <div>
            {% blocktrans trimmed %}
                Too many missing parameters. Index can not be calculated.
            {% endblocktrans %}
        </div>
    </div>
{% elif measurement.bach_index.validity < 0.7 %}
    <div class="box box-info d-flex align-items-center py-2 mt-2 me-2" role="alert">
        {% include "gcampuscore/icons/info-circle-fill.html" with extra_class="flex-shrink-0 me-3" %}
        <div>
            {% blocktrans trimmed %}
                Some parameters are missing. Index is calculated based on estimated values.
            {% endblocktrans %}
        </div>
    </div>
{% endif %}
