{% load i18n %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h4 id="offcanvasFilterLabel">
            {% translate "Additional Filteroptions" %}
        </h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2 position-relative">
                {% translate "Apply filter" %}
            </button>
        <a  class="btn btn-warning mb-2 position-relative" href="{% url "gcampuscore:measurements" %}">
                {% translate "Remove all filters" %}
            </a>
        </div>
    <div>
            {% with filter.form.time_range as field %}
                <div class="mb-3">
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}


            {% with filter.form.parameter_types as field %}
                <div class="mb-3">
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}
            <div class="mb-3">
                {% if user_token_is_access_key or user_token_is_course_token %}
                    {% with filter.form.my_course as field %}
                        <div class="form-check form-switch">
                            {{ field }}
                            {% include "gcampuscore/forms/components/label.html" with class="form-check-label" %}
                            {% include "gcampuscore/forms/components/helptext.html" %}
                        </div>
                    {% endwith %}
                {% endif %}
                {% if user_token_is_access_key %}
                    {% with filter.form.my_measurements as field %}
                        <div class="form-check form-switch">
                            {{ field }}
                            {% include "gcampuscore/forms/components/label.html" with class="form-check-label" %}
                            {% include "gcampuscore/forms/components/helptext.html" %}
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        {% with filter.form.location as field %}
            <div class="mb-3">
                {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                {% include "gcampuscore/forms/components/helptext.html" %}
                {{ field }}
            </div>

        {% endwith %}
    </div>

</div>
