{% load i18n params static %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h4 id="offcanvasFilterLabel">
            {% translate "Additional Filteroptions" %}
        </h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="col-auto mb-2">
            <button type="submit" class="btn btn-secondary position-relative">
                {% translate "Apply filter" %}
            </button>
            <a class="btn btn-secondary position-relative" role="button" href="{% measurements_url %}">
                {% translate "Reset filter" %}
            </a>
        </div>
        <div>
            {% with filter.form.time_range as field %}
                <div class="mb-3">
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}
            {% with filter.form.parameter_types as field %}
                <div class="mb-3">
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}
            <div class="mb-3">
                {% if authenticated %}
                    {% with filter.form.same_course as field %}
                        <div class="form-check">
                            {{ field }}
                            {% include "gcampuscore/forms/components/label.html" with class="form-check-label" %}
                            {% include "gcampuscore/forms/components/helptext.html" %}
                        </div>
                    {% endwith %}
                    {% if user_token_is_access_key %}
                        {% with filter.form.same_access_key as field %}
                            <div class="form-check">
                                {{ field }}
                                {% include "gcampuscore/forms/components/label.html" with class="form-check-label" %}
                                {% include "gcampuscore/forms/components/helptext.html" %}
                            </div>
                        {% endwith %}
                    {% endif %}
                    {% with filter.form.other_courses as field %}
                        <div class="form-check">
                            {{ field }}
                            {% include "gcampuscore/forms/components/label.html" with class="form-check-label" %}
                            {% include "gcampuscore/forms/components/helptext.html" %}
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
