{% load i18n %}
<div class="border-top footer container">
    <div class="text-end py-3">
        <a class="mx-2 footer-link" href="https://gewaessercampus.de/terms">{% translate "Terms and conditions" %}</a>
        <a class="mx-2 footer-link" href="https://gewaessercampus.de/gdp">{% translate "Privacy policy" %}</a>
        <a class="mx-2 footer-link" href="https://gewaessercampus.de/imprint">{% translate "Imprint" %}</a>
        <span class="ms-3 me-2">
            &copy;
            <a class="footer-link" href="https://gewaessercampus.de/license">GewässerCampus</a>
            /
            <a class="footer-link" href="https://mapbox.com">Mapbox</a>
            /
            <a class="footer-link" href="https://openstreetmap.org/copyright">OpenStreetMap</a>
        </span>
        <a class="mx-2 footer-link" href="https://github.com/desklab/gcampus">v{{ GCAMPUS_VERSION }}</a>
    </div>
</div>
