{% load i18n %}
<nav class="navbar gcampus-navbar navbar-light bg-white fixed-top border-bottom navbar-expand">
    <div class="container-fluid">
        <div>
            <button class="btn d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="{{ sidebar_open|yesno:"true,false" }}" aria-controls="sidebar">
                Menu
            </button>
            <a class="navbar-brand">
                {% firstof page_title "No Page Title Provided" %}
            </a>
        </div>
        {% if authenticated %}
            {% include "gcampusauth/components/auth_menu.html" %}
        {% else %}
            <ul class="nav">
                {% translate "Log in" as auth_title %}
                {% include "gcampuscore/components/nav_item.html" with title=auth_title view_name="gcampusauth:verify" %}
            </ul>
        {% endif %}
    </div>
</nav>
