{% load i18n %}
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            {% translate "Map" as map_title %}
            {% translate "Measurements" as measurements_title %}
            {% translate "Create New Measurement" as create_title %}
            {% include "gcampuscore/components/nav_item.html" with title=map_title view_name="gcampuscore:mapview" %}
            {% include "gcampuscore/components/nav_item.html" with title=measurements_title view_name="gcampuscore:measurements" %}
            {% include "gcampuscore/components/nav_item.html" with title=create_title view_name="gcampuscore:add_measurement" %}
        </ul>

        {% if request.session.gcampusauth_authenticated %}
            {% with token_slice=request.session.gcampusauth_token.token|slice:"-3:" token_type=request.session.gcampusauth_token.token_type %}
                {% include "gcampuscore/components/dropdown.html" with name=token_slice token_type=token_type token_name=request.session.gcampusauth_token.token_name %}
            {% endwith %}
        {% else %}
            <ul class="nav">
                {% translate "Log in" as auth_title %}
                {% include "gcampuscore/components/nav_item.html" with title=auth_title view_name="gcampusauth:verify" %}
            </ul>
        {% endif %}

    </div>
</nav>

