{% load i18n %}
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            {% translate "Map" as map_title %}
            {% translate "Measurements" as measurements_title %}
            {% translate "Create New Measurement" as create_title %}
            {% include "gcampuscore/components/nav_item.html" with title=map_title view_name="gcampuscore:mapview" %}
            {% include "gcampuscore/components/nav_item.html" with title=measurements_title view_name="gcampuscore:measurements" %}
            {% include "gcampuscore/components/nav_item.html" with title=create_title view_name="gcampuscore:add_measurement" %}
        </ul>
        <ul class="nav">
            {% if request.session.gcampusauth_authenticated %}
                {% if request.session.gcampusauth_token.token_type == "course" %}
                 {% with name=request.session.gcampusauth_token.token_name %}
                    {% include "gcampuscore/components/nav_item.html" with title=name view_name="gcampusauth:login_success" %}
                 {% endwith %}
                {% endif %}
                {% with key=request.session.gcampusauth_token.token|slice:"-3:" %}
                    {% include "gcampuscore/components/nav_item.html" with title=key view_name="gcampusauth:login_success" %}
                {% endwith %}
            {% endif %}
            {% if request.session.gcampusauth_authenticated %}
                {% translate "Logout" as logout_title %}
                {% include "gcampuscore/components/nav_item.html" with title=logout_title view_name="gcampusauth:logout" %}
            {% else %}
                {% translate "Log in" as auth_title %}
                {% include "gcampuscore/components/nav_item.html" with title=auth_title view_name="gcampusauth:verify" %}
            {% endif %}
        </ul>
    </div>
</nav>
<header class="py-3 border-bottom bg-white">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4">GewässerCampus</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="{% translate "Search" %}"
                   aria-label="{% translate "Search" %}">
        </form>
    </div>
</header>
