{% extends "gcampuscore/base.html" %}
{% load i18n leaflet_tags %}
{% block extra_head %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block content %}

    <div>
        <div class="container">
            <div class="py-5 text-center">
                <h3>{{ object }}</h3>

            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="py-5 text-right">
                <p>
                    {% blocktranslate trimmed with date=measurement.time|date:"d.m.y" time=measurement.time|date:"h:i" %}
                        The measurement was conducted on {{ date }} at {{ time }}
                    {% endblocktranslate %}
                </p>
                <h5>{% translate "Comment" %}</h5>
                <p>
                    {% if measurement.comment %}
                        {{ measurement.comment }}
                    {% else %}
                        -
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">

        <table class="table">
            <thead class="thead-dark">
            <tr>
            <tr>
                <th style="width: 40%">{% translate "Data type" %}</th>
                <th style="width: 20%">{% translate "Value" %}</th>
                <th style="width: 40%">{% translate "Comment" %}</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            {% for datapoint in object.data_points.all %}
                <tr>
                    <td>{{ datapoint.data_type }}</td>
                    <td>{{ datapoint.value }} {{ datapoint.data_type.unit }}</td>
                    <td>
                        {% if datapoint.comment %}
                            <p>
                                <a class="btn btn-primary btn-sm" data-bs-toggle="collapse"
                                   href="#CommentCollapse{{ forloop.counter }}" role="button" onclick="setCookie()"
                                   aria-expanded="false" id="CommentCollapseButton{{ forloop.counter }}"
                                   aria-controls="multiCollapseExample1">{% translate "Expand comment" %}</a>
                            </p>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse"
                                         id="CommentCollapse{{ forloop.counter }}">
                                        <div class="card card-body">
                                            <small>{{ datapoint.comment }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {% leaflet_map "yourmap" callback="window.map_init_basic" %}
        </div>
    </div>
    {% if measurement.token.token == request.session.token %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}"
                   class="btn btn-primary btn-md" role="button">
                    {% translate "Edit Measurement" %}</a>
            </div>
        </div>
    {% endif %}
    <script>
        function map_init_basic(map) {
            let close_locations = []
            let location_long = "{{ measurement.location.coords.0 }}".replace(",", ".");
            let location_lat = "{{ measurement.location.coords.1 }}".replace(",", ".");
            let location = [parseFloat(location_lat), parseFloat(location_long)];
            let name = "{% translate "Measurement by" %} " + "{{ measurement.name }}";
            marker = new L.marker(location)
                .bindPopup(name)
                .addTo(map);

            let additional_long = null;
            let additional_lat = null;
            let additional_name = null;
            let additional_link = null;
            let additional_location = null;
            {% for measurement in close_measurements %}
                additional_long = "{{ measurement.location.coords.0 }}".replace(",", ".");
                additional_lat = "{{ measurement.location.coords.1 }}".replace(",", ".");
                additional_name = "{% translate "Measurement by" %} " + "{{ measurement.name }}";
                additional_link = "{% url "gcampuscore:measurement_detail" pk=measurement.pk %}";
                additional_location = [additional_name, parseFloat(additional_lat), parseFloat(additional_long), additional_link];
                close_locations.push(additional_location)
            {% endfor %}

            for (var i = 0; i < close_locations.length; i++) {
                circleMarker = new L.circleMarker([close_locations[i][1], close_locations[i][2]], {radius: 5})
                    .bindPopup('<a href="' + close_locations[i][3] + '">' + close_locations[i][0] + '</a>')
                    .addTo(map);
            }
            map.setView(location, 12);
        }


    </script>
{% endblock %}






