
{% extends "gcampuscore/base.html" %}
{% block content %}
 <table>
      <tbody>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
          <th>Comment</th>
      </tr>
        {% for measurement in measurement_list %}
          <tr>
            <td> <li>
                <a href="measurement_detail/{{ measurement.pk }}">{{ measurement.name }}</a>
            </li></td>
            <td>{{ measurement.location_name }}</td>
            <td>{{ measurement.time }}</td>
              <td>{{ measurement.comment }}</td>
          </tr>
        {% endfor %}
      </tbody>
 </table>
{% endblock %}
