


 <table>
      <tbody>
      <h1>{{ object }}</h1>
      <tr>
        <th>Data Type</th>
        <th>Value</th>
        <th>Measurement</th>
          <th>Comment</th>
    </tr>
           {% for datapoint in datapoint_list %}
          <tr>
            <td>{{ datapoint.data_type }}</td>
            <td>{{ datapoint.value }}</td>
          <td>{{ datapoint.measurement }}</td>
          <td>{{ datapoint.comment }}</td>
          </tr>
        {% endfor %}
      </tbody>
 </table>
    {% comment %}
    {% endblock %}
    {% block content %}
        {% endcomment %}





