{% load i18n l10n auth_token tz map %}
{% url "gcampuscore:measurement-detail" pk=measurement.pk as detail_url %}
{% url "gcampuscore:water-detail" pk=measurement.water.pk as water_url %}
<div class="list-group-item p-3 list-group-item-action">
    <h5>
        <a href="{{ detail_url }}" class="link-decoration-none-dark stretched-link">
            {% translate "Measurement" %} #{{ measurement.pk|stringformat:"05d" }}
        </a>
    </h5>
    <small class="text-secondary d-flex flex-column flex-sm-row gap-sm-4">
        {% if env != "water_list" %}
            <a class="link-decoration-none-dark second" href="{{ water_url }}">
                <span class="align-middle">
                    <i class="me-1 circle-icon water-icon {{ measurement.water.flow_type }}" data-bs-toggle="tooltip"
                       title="{{ measurement.water.get_flow_type_display|capfirst }}"></i>
                    {{ measurement.water_name }}
                </span>
            </a>
        {% endif %}

        <a class="link-decoration-none-dark second"
           href="{% url "gcampuscore:mapview" %}{% map_options_url lat=measurement.location.y|unlocalize lng=measurement.location.x|unlocalize zoom=14 %}">
            <span>{% include "gcampuscore/icons/geo.html" %}</span>
            <span class="ms-1 align-middle">{{ measurement.location_name }}</span>
        </a>

        {% if measurement.parameters.count != 0 %}
            <a class="link-decoration-none-dark second" href="{{ detail_url }}">
                <span class="align-middle">
                    <div class="indicator-list">
                        {% for parameter in measurement.parameters.all %}
                            {% if parameter.parameter_type.category == "chemical" %}
                                <div class="indicator-container">
                                    <i class="circle-icon indicator-icon"
                                       style="background-color: #{{ parameter.parameter_type.color|lower }} !important;"
                                       data-bs-toggle="tooltip"
                                       title="{{ parameter.parameter_type.name|capfirst }}">
                                    </i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if measurement.saprobic_index.validity != 0 %}
                        {% translate "Saprobic Index" as saprobic_index_tooltip %}
                        <span class="ms-1 me-1 text-primary"data-bs-toggle="tooltip"
                                       title="{{ saprobic_index_tooltip }}">
                            {% include "gcampuscore/icons/bug-fill.html" %}
                        </span>
                    {% endif %}

                    {% if measurement.structure_index.validity != 0 %}
                        {% translate "Structure Index" as structure_index_tooltip %}
                        <span class="ms-1 me-1 text-primary" data-bs-toggle="tooltip"
                                       title="{{ structure_index_tooltip }}">
                            {% include "gcampuscore/icons/rulers.html" %}
                        </span>
                    {% endif %}
                    {% comment %}
                    <span class="ms-1">
                        {{ measurement.parameters.count }}
                    </span>
                    {% endcomment %}
                </span>
            </a>
        {% endif %}

        {% if measurement.name != "" %}
            <span class="second">
                <span>{% include "gcampuscore/icons/people.html" %}</span>
                <span class="ms-1 align-middle">{{ measurement.name }}</span>
            </span>
        {% endif %}
        {% with time_since=measurement.time|timesince:today  %}
            <span class="second align-self-start" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ time_since }}" title="{{ time_since }}">
                {% include "gcampuscore/icons/calendar4-event.html" %}
                <span class="ms-1 align-middle ">{{ measurement.time|localtime|localize }}</span>
            </span>
        {% endwith %}
    </small>
</div>
