{% extends "gcampuscore/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}

{% block content %}
     <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "All measurements" %}</h2>
        </div>
     </div>

    <div class="row justify-content-center">
    <div class="col-lg-10">
    <table class="table">
        <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurement_list %}
            <tr>
            <th scope="row">{{ forloop.counter0|add:1}}</th>

            <td>
                <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}">{{ measurement.name }}</a>
            </td>
            <td>{{ measurement.location_name }}</td>
            <td>{{ measurement.time }}</td>
              <td>{{ measurement.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
