{% load i18n icon auth_token %}
{% url "gcampuscore:measurement-detail" pk=measurement.pk as detail_url %}
{% url "gcampuscore:edit-parameters" pk=measurement.pk as edit_url %}
<a href="{{ detail_url }}" class="list-group-item list-group-item-hover">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            <small class="fw-normal me-2">
                {{ measurement }}
            </small>

        </h5>
        <div class="d-inline-block">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonEditKey" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Options" %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonEditKey">
                    <li>
                        <form action="{% url "gcampuscore:edit-parameters" pk=measurement.pk %}" method="get">
                            <button type="submit" class="dropdown-item" {{ edit|yesno:",disabled" }} style="pointer-events: all">
                                    {% icon "edit" class="d-inline-block align-text-top me-1" height="16" width="16" %}
                                    {% translate "Edit" %}
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="mb-1">
        <small class="text-muted">
            {% blocktranslate  %}
                Recorded {{ count }} parameters on {{ time }}.
            {% endblocktranslate %}
        </small>
    </p>
</a>
