{% extends "gcampuscore/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}

{% block content %}
     <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "All measurements" %}</h2>
        </div>
     </div>

    <div class="container">
    <div class="py-5 text-center">
    <form method="GET" action='{% url "gcampuscore:measurementsearchresult" %}'>
          <div class="form-group">
            <input type="text" class="form-control" placeholder={% translate "Search Measurements" %} name="q">
          </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>

    <div class="row justify-content-center">
    <div class="col-lg-10">
    <table class="table">
        <thead class="thead-dark">
        <tr>
        <th scope="col"></th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Location" %}</th>
        <th scope="col">{% translate "Date" %}</th>
        <th scope="col">{% translate "Comment" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurement_list %}
            <tr>
            <th scope="row">{{ forloop.counter0|add:1}}</th>

            <td>
                <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}">{{ measurement.name }}</a>
            </td>
            <td>{{ measurement.location_name }}</td>
            <td>{{ measurement.time }}</td>
              <td>{{ measurement.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
