{% load i18n icon l10n auth_token tz %}

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="CourseDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {% translate "Filter for my course or my measurements" %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="CourseDropdown">
        <form>
            {% with course_filter as field %}
                <div>
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}
            {% if user_token_is_access_key %}
                {% with my_filter as field %}
                    <div>
                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                        {% include "gcampuscore/forms/components/helptext.html" %}
                        {{ field }}
                    </div>
                {% endwith %}
            {% endif %}
        </form>
        </ul>
    </div>

