{% load i18n icon l10n auth_token tz %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="parameterDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
        {% translate "Select Parameters" %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="parameterDropdown">
    <form>
        {% with id=widget.attrs.id %}
            <div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %}
                            class="{{ widget.attrs.class }}"{% endif %}>
                {% for group, options, index in widget.optgroups %}{% if group %}
                    <div><label>{{ group }}</label>{% endif %}{% for option in options %}
                    <div>
                        {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
                    </div>{% endif %}{% endfor %}
            </div>
        {% endwith %}
    </form>
    </ul>
</div>

