{% load i18n static leaflet_tags tz l10n menu %}
{% with week_list_js|length as list_len %}
    <div class="range-slider"><span>from
    <input hidden name="{{ widget.subwidgets.0.name }}" {% if widget.subwidgets.0.value != None %}
           value="{{ widget.subwidgets.0.value|stringformat:'s' }}"{% endif %} id="start_date" type="date"/><span
                id="from_span"></span>	<br>to
    <input hidden name="{{ widget.subwidgets.1.name }}" {% if widget.subwidgets.1.value != None %}
           value="{{ widget.subwidgets.1.value|stringformat:'s' }}"{% endif %} id="end_date" type="date"/><span
                id="to_span"></span></span>
        <input value="0" min="0" max="{{ list_len|add:"-1" }}" step="1"
               type="range"/>
        <input value="{{ list_len|add:"-1" }}" min="0" max="{{ list_len|add:"-1" }}"
               step="1" type="range"/>
        <svg width="100%" height="24">

        </svg>
    </div>
{% endwith %}

<style>
    body {
        display: flex;
        height: 100vh;
    }

    input {

        outline: 0;
    }

    .range-slider {
        width: 300px;
        margin: auto;
        text-align: center;
        position: relative;
        height: 6em;
    }

    .range-slider svg,
    .range-slider input[type=range] {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    input[type=number] {
        border: 1px solid #ddd;
        text-align: center;
        font-size: 1.6em;
        -moz-appearance: textfield;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]:invalid,
    input[type=number]:out-of-range {
        border: 2px solid #ff6347;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #2497e3;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #2497e3;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #2497e3;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;

        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;

        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-moz-range-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;

        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower,
    input[type=range]::-ms-fill-upper {
        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }


</style>

<script>
    (function () {
        var week_list_js = [{{ week_list_js|join:', ' }}];
        var week_list_length = {{ week_list_js|length }} -1

        var parent = document.querySelector(".range-slider");
        if (!parent) return;

        var
            rangeS = parent.querySelectorAll("input[type=range]"),
            numberS = parent.querySelectorAll("input[type=date]");

        // Set start and endpoint to first and last entry of week_list_js
        var left_slider_index = 0;
        var right_slider_index = week_list_length;

        // Check if there is already a set value in the hidden inputs
        // This means that the filter has been used and the slider as well
        // as the strings need to be set accordingly
        if (numberS[0].value && numberS[1].value ) {

            // Get values from hidden inputs
            var left_slider_date = Date.parse(numberS[0].value);
            var right_slider_date = Date.parse(numberS[1].value);

            // Get index of closest date in week_list_js
            left_slider_index = closest_index(left_slider_date, week_list_js);
            right_slider_index = closest_index(right_slider_date, week_list_js);

            // Set slider values
            rangeS[0].value = left_slider_index;
            rangeS[1].value = right_slider_index;
        }
        // Turn milliseconds into dates
        var start_date = new Date(week_list_js[left_slider_index]);
        var end_date = new Date(week_list_js[right_slider_index]);

        // Set date strings
        document.getElementById("from_span").innerHTML = start_date.toLocaleDateString();
        document.getElementById("to_span").innerHTML = end_date.toLocaleDateString();


        rangeS.forEach(function (el) {
            el.oninput = function () {
                var slide1 = parseFloat(rangeS[0].value),
                    slide2 = parseFloat(rangeS[1].value);

                if (slide1 > slide2) {
                    [slide1, slide2] = [slide2, slide1];

                }
                var start_date = new Date(week_list_js[slide1]);
                var end_date = new Date(week_list_js[slide2]);

                numberS[0].valueAsDate = start_date;
                numberS[1].valueAsDate = end_date;

                document.getElementById("from_span").innerHTML = start_date.toLocaleDateString();
                document.getElementById("to_span").innerHTML = end_date.toLocaleDateString();
            }
        });

        numberS.forEach(function (el) {
            el.oninput = function () {
                var number1 = parseFloat(numberS[0].value),
                    number2 = parseFloat(numberS[1].value);

                if (number1 > number2) {
                    var tmp = number1;
                    numberS[0].value = number2;
                    numberS[1].value = tmp;
                }

                rangeS[0].value = number1;
                rangeS[1].value = number2;

            }
        });

    })();

    function closest_index (num, arr) {
                var curr = arr[0];
                var diff = Math.abs (num - curr);
                for (var val = 0; val < arr.length; val++) {
                    var newdiff = Math.abs (num - arr[val]);
                    if (newdiff < diff) {
                        diff = newdiff;
                        curr = arr[val];
                    }
                }
                return arr.indexOf(curr);
            }
</script>


