{% load icon  i18n static%}
<nav class="sidebar collapse text-white bg-dark{% if sidebar_open %} show{% endif %}" id="sidebar">
    <div>
        <div class="navbar gcampus-navbar justify-content-start flex-nowrap">
            <button class="btn text-white d-md-inline-block d-none" type="button" id="sidebarToggleButton" onclick="toggleSidebar()" aria-controls="sidebar">
                {% icon "menu" class="d-inline-block" %}
            </button>
            <a href="/" class="btn text-white sidebar-title">GewässerCampus</a>
        </div>
        <hr class="mt-0">
        <ul class="nav nav-pills flex-column flex-grow-1">
            {% translate "Explore" context "explore page title" as map_title %}
            {% translate "All Measurements" context "filter page title" as measurements_title %}
            {% translate "Analysis" context "analysis page title" as analysis_title %}
            {% translate "Course administration" as course_title %}
            {% translate "More information" as info_title %}

            {% include "gcampuscore/components/sidebar_item.html" with icon="map" title=map_title view_name="gcampuscore:mapview" %}
            {% include "gcampuscore/components/sidebar_item.html" with icon="list" title=measurements_title view_name="gcampuscore:measurements" %}
            {% include "gcampuscore/components/sidebar_item.html" with icon="bar-chart-2" title=analysis_title view_name="gcampusanalysis:analysis_measure" %}
            {% if user_token_is_course_token%}
                {% include "gcampuscore/components/sidebar_item.html" with icon="user" title=course_title view_name="gcampusauth:course-overview" %}
            {% endif %}
            {% include "gcampuscore/components/sidebar_item.html" with icon="external-link" title=info_title onclick="showMenuPopover();" id="externalinfo" %}
        </ul>
        {# <hr> #}
    </div>
    <div>
        <ul class="mt-auto nav nav-pills flex-column flex-shrink-0">
            {% translate "Show help" as help_title %}
            {% include "gcampuscore/components/sidebar_item.html" with icon="help-circle" title=help_title onclick="startGuide();"%}
        </ul>
        <hr class="my-0">
        <ul class="mt-auto nav nav-pills flex-column flex-shrink-0 mb-2">
            <li class="align-baseline nav-item{% if class %} {{ class }}{% endif %}">
                <a href="https://github.com/desklab/gcampus/releases/tag/{{ GCAMPUS_VERSION }}" target="_blank" class="my-1 nav-link">
                    <span class="text-secondary sidebar-item-icon pt-2">
                        {% icon "github" width="16px" height="16px" class="d-inline-block" %}
                    </span>
                    <span class="text-secondary badge bg-secondary text-dark sidebar-title" style="font-size: 9pt;">
                        {{ GCAMPUS_VERSION }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>

{% include "gcampuscore/components/menu_popover.html" %}
