{% load i18n measurement %}
<div class="bg-light me-2">
    <div class="my-auto p-4">

        <div class="row">
            <div class="col-9">
                <div class="text-secondary fw-bold pb-2">
                    {% translate "Structural Index" %}
                </div>
                {% if measurement.structure_index.validity >= 0.25 %}
                    <div class="index-classification display-1 fw-bolder structure-class-{{ measurement.structure_index.classification }}">
                        {% translate "Class" %} {{ measurement.structure_index.classification }}
                    </div>
                    <div class="index-classification display-4 fw-bolder structure-class-{{ measurement.structure_index.classification }}">
                        {{ measurement.structure_index.description }}
                    </div>
                {% else %}
                    <div class="index-classification display-1 fw-bolder class-unknown">
                        {% translate "N/A" %}
                    </div>
                    <div class="invisible display-4">
                        {% translate "N/A" %}
                    </div>
                {% endif %}
            </div>
            <div class="col-3">
                <div class="display-1 text-end text-gray pe-2">
                    {% include "gcampuscore/icons/rulers.html" with extra_class="flex-shrink-0" %}
                </div>
            </div>
        </div>
        <div class="pt-4 row">
            <div class="col-4">
                <div class="text-secondary fw-light">
                    {% translate "Value" %}
                </div>
                <div class="fw-bold">
                    {% if measurement.structure_index.validity >= 0.25 %}
                        {{ measurement.structure_index.value }}
                    {% else %}
                        {% translate "N/A" %}
                    {% endif %}
                </div>
            </div>
            <div class="col-4">
                <div class="text-secondary fw-light">
                    {% translate "Validity" %}
                </div>
                <div class="fw-bold">
                    {% widthratio measurement.structure_index.validity 1 100 %}%
                </div>
            </div>
        </div>
    </div>
</div>

{% if measurement.structure_index.validity < 0.25 %}
    <div class="box box-warning d-flex align-items-center py-2 mt-2 me-2" role="alert">
        {% include "gcampuscore/icons/exclamation-triangle-fill.html" with extra_class="flex-shrink-0 me-3" %}
        <div>
            {% blocktrans trimmed %}
                Too many missing parameters. Index can not be calculated.
            {% endblocktrans %}
        </div>
    </div>
    {% comment %}
{% elif measurement.structure_index.validity < 1 %}
    <div class="box box-info d-flex align-items-center py-2 mt-2 me-2" role="alert">
        {% include "gcampuscore/icons/info-circle-fill.html" with extra_class="flex-shrink-0 me-3" %}
        <div>
            {% blocktrans trimmed %}
                Some parameters are missing. Index is calculated based on estimated values.
            {% endblocktrans %}
        </div>
    </div>
{% endcomment %}
{% endif %}