{% extends "gcampuscore/base_error.html" %}
{% load i18n auth_token %}
{% block exception_message %}
    {% url "gcampusauth:course-overview" as course_overview_url %}
    {% include "gcampusauth/components/current_token_info.html" %}
    {% if user_token_is_access_key %}
        {# Token deactivated, expired, etc. #}
        {% blocktranslate trimmed %}
            It seems like your access key currently does not have the
            permission to create a measurement. Please contact your
            teacher for help.
        {% endblocktranslate %}
    {% elif user_token_is_course_token %}
        {% blocktranslate trimmed %}
            To create a measurement, you have to login using an access
            key. As a teacher, you can generate a new access key for your
            own measurement on the
            <a class="text-dark" href="{{ course_overview_url }}">course overview</a>
            page.
        {% endblocktranslate %}
    {% endif %}
{% endblock %}
{% block exception_options %}
    <div class="p-4 p-md-5 border rounded-3 bg-light">
        <a class="w-100 btn btn-lg btn-primary" role="button"
           href="{% url "gcampusauth:login-access-key" %}">
            {% translate "Login with access key" %}
        </a>
        <hr class="my-4">
        <small class="text-muted">
            {% blocktranslate trimmed %}
                If you login with a different access key,
                you will automatically be logged out from your old key.
            {% endblocktranslate %}
        </small>
    </div>
{% endblock %}
{% if authenticated %}
    {% block extra_body %}
        {% displaytoken_js %}
    {% endblock %}
{% endif %}
