{% extends "gcampuscore/base_error.html" %}
{% load i18n auth_token next_url %}
{% block exception_message %}
    {% if user_token_is_access_key %}
        {% blocktranslate trimmed %}
            You are currently logged in with the following access key:
        {% endblocktranslate %}
    {% elif user_token_is_course_token %}
        {% blocktranslate trimmed %}
            You are currently logged in with the following course token:
        {% endblocktranslate %}
    {% endif %}
    <br>
    <div class="my-2">
        {% displaytoken user_token hidden=True toggle=True %}
    </div>
    {% if user_token_is_access_key %}
        {% blocktranslate trimmed %}
            Your access key does not have the permission to view this
            page. Please try again with a different access key or login
            as a teacher using a course token. <br>
            If the issue persists, ask your teacher for assistance.
        {% endblocktranslate %}
    {% elif user_token_is_course_token %}
        {% blocktranslate trimmed %}
            Your course token does not have the permission to view this
            page. Please try again with a different course token or
            login as a student using an access key. <br>
            If you need further assistance, please contact us.
        {% endblocktranslate %}
    {% endif %}

{% endblock %}
{% block exception_options %}
    <div class="p-4 p-md-5 border rounded-3 bg-light">
        <a class="w-100 btn btn-lg btn-primary mb-4" role="button"
           href="{% url "gcampusauth:loginaccesskey" %}{% next_url %}">
            {% translate "Login as Student" %}
        </a>
        <a class="w-100 btn btn-lg btn-primary" role="button"
           href="{% url "gcampusauth:logincoursetoken" %}{% next_url %}">
            {% translate "Login as Teacher" %}
        </a>
        <hr class="my-4">
        <small class="text-muted">
            {% blocktranslate trimmed %}
                If you login with a different access key or course token,
                you will automatically be logged out from your old key.
            {% endblocktranslate %}
        </small>
    </div>
{% endblock %}
{% block extra_body %}
    {% displaytoken_js %}
{% endblock %}
