{% extends "gcampuscore/base.html" %}
{% load i18n static params %}
{% block modals %}
    <div class="modal fade" id="downloadModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% translate "Download measurement data" %}</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% with "https://openstreetmap.org/copyright" as osm_url %}
                        {% with "https://www.mapbox.com" as mapbox_url %}
                            {% with "https://gewaessercampus.de/license" as license_url %}
                                {% blocktranslate trimmed %}
                                    GewässerCampus includes maps and information
                                    on water bodies and their names from
                                    <a class="text-reset"
                                       href="{{ mapbox_url }}">Mapbox</a>
                                    and
                                    <a class="text-reset" href="{{ osm_url }}">OpenStreetMap</a>
                                    as well as measurement data of
                                    GewässerCampus contributors.
                                    Make sure you respect the licenses of these
                                    datasets. More details are provided
                                    <a class="text-reset"
                                       href="{{ license_url }}">here</a>.
                                {% endblocktranslate %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        {% translate "Close" %}
                    </button>
                    <a href="


                            {% url "gcampusdocuments:measurement-list-csv" %}{% request_params %}"
                       class="btn btn-secondary">
                        {% translate "Download data" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <form method="GET" class="row align-items-center">
            <div class="col-auto">
                <div class="input-group">
                    {% with filter.form.name as field %}
                        {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                    {% endwith %}

                    <button type="submit" class="btn btn-primary d-inline"
                            aria-label="{% translate "Search" %}">
                        {% include "gcampuscore/icons/search.html" %}
                    </button>
                </div>
            </div>
            <div class="col-auto">
                <small>
                    {% blocktranslate trimmed with count=count %}
                        Found {{ count }} measurements
                    {% endblocktranslate %}
                </small>
            </div>
            <div class="col-auto ms-auto">
                {% if object_list %}
                    <span title="{% translate "Download data" %}"
                          class="d-inline-block" tabindex="0"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom">
                        <button type="button"
                                class="btn btn-light"
                                aria-label="{% translate "Download data" %}"
                                data-bs-toggle="modal"
                                data-bs-target="#downloadModal">
                            {% include "gcampuscore/icons/file-earmark-spreadsheet.html" %}
                        </button>
                    </span>
                    <a href="{% url "gcampusdocuments:measurement-list-pdf" %}{% request_params %}"
                       class="btn btn-light"
                       title="{% translate "Print summary" %}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       aria-label="{% translate "Print summary" %}">
                        {% include "gcampuscore/icons/printer.html" %}
                    </a>
                {% endif %}
                <button class="btn btn-outline-primary d-inline position-relative"
                        type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasFilter"
                        aria-controls="offcanvasFilter">
                    {% translate "Filter" %}
                    {% if filter_status %}
                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-warning border border-light rounded-pill">
                            <span class="visually-hidden">
                                {% translate "Additional filters applied" %}
                            </span>
                            </span>
                    {% endif %}
                </button>
                {% include "gcampuscore/components/filter.html" %}
            </div>
        </form>
        {% if object_list %}
            <div class="mt-3 list-group">
                {% for measurement in object_list %}
                    {% include "gcampuscore/components/measurement_list_item.html" with measurement=measurement today=today %}
                {% endfor %}
            </div>
        {% else %}
            <div class="mt-3 p-5 text-dark bg-light">
                <h2>
                    {% translate "No measurements found" %}
                </h2>
                <p>
                    {% blocktranslate trimmed %}
                        Unfortunately, no measurements can be found.
                        <br>
                        Maybe your filter settings are too restrictive.
                    {% endblocktranslate %}
                </p>
                <a class="btn btn-outline-dark" role="button"
                   href="{% url "gcampuscore:measurements" %}">
                    {% translate "Reset filter" %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block extra_body %}
    <script type="text/javascript"
            src="{% static 'gcampuscore/js/filter.js' %}"></script>
    <script type="text/javascript">
        let my_measurement_toggle = document.getElementById("{{ filter.form.my_measurements.id_for_label }}");
        let my_course_toggle = document.getElementById("{{ filter.form.my_course.id_for_label }}");

        function toggleMeasurement() {
            if (my_measurement_toggle.checked && my_course_toggle.checked) {
                my_course_toggle.checked = false;
            }
        }

        function toggleCourse() {
            if (my_measurement_toggle.checked && my_course_toggle.checked) {
                my_measurement_toggle.checked = false;
            }
        }

        if (my_measurement_toggle !== null) {
            my_measurement_toggle.addEventListener('click', function () {
                toggleMeasurement();
            });
        }
        if (my_course_toggle !== null) {
            my_course_toggle.addEventListener('click', function () {
                toggleCourse();
            });
        }

        gcampuscore['filter'].initRangeSlider(week_list_js);
    </script>
{% endblock extra_body %}

