{% extends "gcampuscore/base.html" %}
{% load auth_token %}
{% load i18n static leaflet_tags %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}
{% block extra_head %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block navbar_title %}
    <span class="">{% translate "All measurements" %}</span>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="GET">
            {% with filter.form.name as field %}
                <div class="mb-3">
                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                    {% include "gcampuscore/forms/components/helptext.html" %}
                    {{ field }}
                </div>
            {% endwith %}
            <div/>

            <p>
                <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" id="filterCollapseButton"
                   href="#filterCollapse" role="button" onclick="setCookie()"
                   aria-expanded="false"
                   aria-controls="filterCollapse">{% translate "Open additional filters" %}</a>
            </p>
            <div class="row" id="test">
                <div class="col">
                    <div class="collapse"
                         id="filterCollapse">
                        <div class="card card-body">
                            <div class="container">
                                {% with filter.form.time_gt as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                                {% with filter.form.time_lt as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                                {% with filter.form.parameter_types as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                                {% with filter.form.location as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {% include "gcampuscore/forms/components/helptext.html" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button type="submit" class="btn btn-primary">{% translate "Search" %}</button>
        <div class="row justify-content-center text-center">
            <div class="col-auto">
                {% if filter.qs %}
                    <table class="table-responsive">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{% translate "Name" %}</th>
                            <th scope="col">{% translate "Location" %}</th>
                            <th scope="col">{% translate "Date" %}</th>
                            <th scope="col">{% translate "Number of Datapoints" %}</th>
                            <th scope="col">{% translate "To the Measurement" %}</th>
                            <th scope="col">{% translate "Edit Measurement" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for measurement in object_list %}
                            <tr>
                                <th scope="row"><input type="checkbox" id="scales" name="scales"></th>
                                <td>
                                    {{ measurement.name }}
                                </td>
                                <td>{{ measurement.location_name }}</td>
                                <td>{{ measurement.time }}</td>
                                <td>{{ measurement.parameters.count }}</td>
                                <td>
                                    <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}"
                                       class="btn btn-primary btn-md" role="button">
                                        {% translate "To the Measurement" %}</a>
                                </td>
                                <td>
                                    {% if measurement.token.token is not None %}
                                        {% if measurement|can_edit:request %}
                                            <a href="{% url "gcampuscore:edit_parameters" pk=measurement.pk %}"
                                               class="btn btn-primary btn-md" role="button">
                                                {% translate "Edit Measurement" %}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-danger text-large">{% translate "No measurements with the desired attributes" %}</h3>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        let filterButton = document.getElementById("filterCollapseButton");
        let filterCollapse = document.getElementById("filterCollapse");

        function setCookie() {
            var status = filterButton.getAttribute('aria-expanded');
            localStorage.setItem("filterButtonStatus", status);
        }

        function setCollapse() {
            var button_value = localStorage.getItem("filterButtonStatus");
            var bool_button_value = (button_value == 'true');
            if (bool_button_value) {
                filterCollapse.setAttribute("class", "collapse show");
                filterButton.setAttribute('aria-expanded', "true");
            } else {
                filterCollapse.setAttribute("class", "collapse");
                filterButton.setAttribute('aria-expanded', "false");
            }
        }

        setCollapse()
    </script>
{% endblock %}

