{% extends "gcampuscore/base.html" %}
{% load i18n auth_token %}
{% block title %}
    {% translate "All measurements" %}
{% endblock %}
{% block content %}
    {# TODO: Why do we need this here? Do we just check the permission with this? #}
    {% auth_token %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>{% translate "My measurements" %}</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-auto">
            {% if object_list.all %}
                <table class="table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">{% translate "Name" %}</th>
                        <th scope="col">{% translate "Location" %}</th>
                        <th scope="col">{% translate "Date" %}</th>
                        <th scope="col">{% translate "Number of Datapoints" %}</th>
                        <th scope="col">{% translate "To the Measurement" %}</th>
                        <th scope="col">{% translate "Edit Measurement" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for measurement in object_list %}
                        <tr>
                            <th scope="row"><input type="checkbox" id="scales" name="scales"></th>
                            <td>
                                {{ measurement.name }}
                            </td>
                            <td>{{ measurement.location_name }}</td>
                            <td>{{ measurement.time }}</td>
                            <td>{{ measurement.data_points.count }}</td>
                            <td>
                                <a href="{% url "gcampuscore:measurement_detail" pk=measurement.pk %}"
                                   class="btn btn-primary btn-md" role="button">
                                    {% translate "To the Measurement" %}</a>
                            </td>
                            <td>
                                {% if measurement.token.token is not None %}
                                    {% if measurement.token.token == request.session.gcampusauth_token.token %}
                                        <a href="{% url "gcampuscore:edit_data_points" measurement_id=measurement.pk %}"
                                           class="btn btn-primary btn-md" role="button">
                                            {% translate "Edit Measurement" %}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>{% translate "You haven't created any measurements yet" %}</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}

