
.rotated-section-heading {
    font-weight: 600;
    font-size: 22pt;
}

.document-description {
    color: $grey-800;
    font-size: 9pt;
}

.student-document-description {
    color: $grey-800;
    font-size: 10pt;
}

.accesskey-element {
    font-size: 10pt;
}

.accesskey-description {
    color: $grey-800;
    font-size: 9pt;
}

.coursedata-heading {
    font-size: 11pt;
    color: $grey-800;
}

.coursedata-content {
    font-size: 13pt;
    color: $primary;
}

.coursetoken {
    font-size: 18pt;
}

.accesskey-single {
    font-size: 24pt;
}

.access-description {
    font-size: 10pt;
    color: $grey-800;
}

.coursetoken-description {
    color: $grey-800;
    font-size: 9pt;
    text-align: justify;
}

.firststeps-heading {
    font-size: 12pt;
    color: $primary;
}

.firststeps-content {
    font-size: 10pt;
    color: $grey-800;
}
