.footer {
  font-size: 8pt;
  background-color: $white;
  @include media-breakpoint-up(md) {
    height: $gcampus-footer-height;
  }
}

.footer-link {
  text-decoration: none !important;
  color: $secondary;
}

.footer-link:hover {
  color: black;
}

main {
  padding-bottom: map-get($spacers, 3);

  &.main-pb-0 {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: calc(#{$gcampus-footer-height} + #{map-get($spacers, 3)});

    &.main-pb-0 {
      padding-bottom: $gcampus-footer-height;
    }
  }
}
