.range-slider {
  width: 70%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  height: calc($spacer * .25 + $font-size-base + $form-range-thumb-height + $form-range-thumb-focus-box-shadow-width * 2);

  input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
    appearance: none;
    width: 100%;
  }

  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }

  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }

  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }


}
