.range-slider {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;

  input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
    appearance: none;
    width: 100%;
  }

  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }

  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }

  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    cursor: pointer;
    appearance: none;
  }


}
