.nav-tabs {
  border-bottom: none !important;
}
.nav-tabs .nav-link {
  background: none;
  margin-bottom: 0px;
  border: none !important;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border: none !important;
}
.nav-tabs .nav-link.disabled {
  color: #6d6f73;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link {
  color: $secondary;
  border-radius: 0px 0px 6px 6px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $black;
  background-color: $gray-300;
  border-color: #fff;
}

.tab-top {
  margin-top: -18px;
}