// Required by Safari to hide the spin buttons (up-caret and down-caret)
input[type="number"].appearance-textfield {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}

.no-spinners::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
}
.no-spinners[type=number] {
  -moz-appearance: textfield;
}
.hover-dark:hover {
  color: black !important;
}

.hover-secondary:hover {
  color: $secondary !important;
}
