// Required by Safari to hide the spin buttons (up-caret and down-caret)
input[type="number"].appearance-textfield {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.no-spinners[type=number] {
  -moz-appearance: textfield;
}

.second {
  position: relative;
  z-index: 1;
}

.box {
  color: $gray-700;
  padding: 5px 5px 5px 10px;

  &.box-info {
    border-left: 5px solid $blue-500;
    background-color: $gray-200;
  }

  &.box-warning {
    border-left: 5px solid $yellow;
    background-color: $yellow-100;
  }

  &.box-error {
    border-left: 5px solid $red;
    background-color: $red-100;
  }
}

.text-gray {
  color: $gray-500 !important;
}
