// $primary: #679436;

$prefix: gcampus-;

$running-water: #0d6efd;
$standing-water: shade-color($running-water, 60%);
$unknown-water: #6D9DC5;

$border-color: $gray-200;
$input-border-color: $gray-300;

$table-border-color: $border-color;
$table-group-separator-color: $table-border-color;
$table-border-width: .12rem;
$table-head-height: 2.8rem;

$table-hover-bg: $gray-100;
$table-cell-padding-y: .8rem;
$table-cell-padding-x: .8rem;

$utilities: (
  "appearance": (
    property: appearance,
    values: (
      none: none,
      textfield: textfield
    )
  ),
  "max-width": (
    property: max-width,
    class: mw,
    values: (
      100: 100%,
      75: 75%,
      60: 60%,
      50: 50%,
    )
  ),
  //"min-height": (
  //  property: min-height,
  //  class: min-h,
  //  values: (100: 100%)
  //),
);

$sidebar-opened-width: 260px;
$sidebar-closed-width: 4.5rem;

$gcampus-navbar-height: 72px;
$gcampus-footer-height: 50px;

$font-family-sans-serif: Carlito, Calibri, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-lighter: normal !default;
$font-weight-light: normal !default;
$font-weight-normal: normal !default;
$font-weight-semibold: bold !default;
$font-weight-bold: bold !default;
$font-weight-bolder: bold !default;

$enable-caret: true;
$enable-rounded: false;
// $enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

$badge-border-radius: 0;
$alert-border-radius: 0;
$tooltip-border-radius: 0;
