{% extends "gcampuscore/base.html" %}
{% load l10n %}
{% load tz %}
{% load i18n menu auth_token %}
{% block navbar_title %}{% endblock %}
{% block navbar_other %}
    <ul class="nav navbar-nav me-auto">
        {% trans "Course data" as course_data_title %}
        {% include "gcampuscore/components/nav_item.html" with title=course_data_title view_name="gcampusauth:course-update" %}
        {% trans "Manage access keys" as access_keys_title %}
        {% include "gcampuscore/components/nav_item.html" with title=access_keys_title view_name="gcampusauth:course-access-keys" %}
    </ul>
{% endblock %}
{% block main_class %}bg-light min-vh-100{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="py-2">{% trans "Generate new access keys" %}</h3>
        {% if disabled %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                {% url "gcampusauth:register" as register_url %}
                {% include "gcampuscore/icons/exclamation-triangle-fill.html" with extra_class="flex-shrink-0 me-3" %}
                <div>
                    {% blocktrans trimmed with max_count=max_count register_url=register_url %}
                        You have reached the maximum ({{ max_count }}) number
                        of access keys.<br>
                        If you need more access keys, consider
                        <a class="alert-link" href="{{ register_url }}">registering a new course</a>.
                    {% endblocktrans %}
                </div>
            </div>
        {% else %}
            <div class="text-dark d-flex align-items-center mb-2" role="alert">
                {% include "gcampuscore/icons/info-circle-fill.html" with extra_class="flex-shrink-0 me-2" %}
                <span>
                    {% blocktrans trimmed with max_count=max_count %}
                        Please note that the number of access keys is
                        limited to
                        <strong>{{ max_count }} per course</strong>.
                    {% endblocktrans %}
                </span>
            </div>
            <form method="post" class="row row-cols-lg-auto has-validation align-items-center">
                {% csrf_token %}
                <div class="col-12">
                    {% with form.count as field %}
                        {% include "gcampuscore/forms/components/label.html" %}
                        {% include "gcampuscore/forms/components/helptext.html" %}
                        <div class="input-group">
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                            <button type="submit" class="btn d-inline btn-primary">
                                {% trans "Generate" %}
                            </button>
                        </div>
                        {% if field.errors %}
                            <small class="text-danger">{{ field.errors }}</small>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        {% endif %}
        <h3 class="mt-5 py-2">{% trans "Access keys" %} ({{ count }})</h3>
        <div class="list-group list-group-spaced">
            {% for access_key in object_list %}
                <li class="list-group-item list-group-item-spaced d-inline-flex align-items-center">
                    <span class="fs-4">{% displaytoken access_key.token hidden=True toggle=True %}</span>
                    <small class="ms-3 text-muted">
                        {% if access_key.deactivated %}
                            <span class="d-inline-block bg-danger circle-icon me-1"></span>
                            {% translate "Deactivated" %}
                        {% else %}
                            <span class="d-inline-block bg-success circle-icon me-1"></span>
                            {% translate "Active" %}
                        {% endif %}
                    </small>
                    <small class="ms-3 text-muted">
                            {% with measurement_count=access_key.measurements.count %}
                                {% if measurement_count > 0 %}
                                    <a class="text-reset text-decoration-none hover-dark dropdown-toggle"
                                       href="#" id="measurementsDropdown{{ access_key.pk }}"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <span>{% include "gcampuscore/icons/geo.html" %}</span>
                                        {% blocktrans trimmed count count=measurement_count %}
                                            {{ count }} measurement
                                        {% plural %}
                                            {{ count }} measurements
                                        {% endblocktrans %}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="measurementsDropdown{{ access_key.pk }}">
                                        {% for measurement in access_key.measurements.all %}
                                            <li>
                                                <a class="dropdown-item" href="{% url "gcampuscore:measurement-detail" pk=measurement.pk %}">
                                                    {{ measurement }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <span>
                                        <span>{% include "gcampuscore/icons/geo.html" %}</span>
                                        {% blocktrans trimmed count count=measurement_count %}
                                            {{ count }} measurement
                                            {% plural %}
                                            {{ count }} measurements
                                        {% endblocktrans %}
                                    </span>
                                {% endif %}
                            {% endwith %}
                        </small>
                    <small class="ms-3 text-muted"{% if access_key.last_login %} data-bs-toggle="tooltip" data-bs-placement="top" title="{{ access_key.last_login|timesince:today }}"{% endif %}>
                        <span>{% include "gcampuscore/icons/calendar4-event.html" %}</span>
                        <span class="ms-1 align-middle ">
                            {% translate "Last login:" %}
                            {% if access_key.last_login %}
                                {{ access_key.last_login|localtime|localize }}
                            {% else %}
                                {% translate "never" %}
                            {% endif %}
                        </span>
                    </small>
                    <form action="{% url "gcampusauth:course-access-keys-deactivate" pk=access_key.pk %}" method="post" class="ms-auto d-inline align-items-center">
                        <input hidden name="deactivated" value="{{ access_key.deactivated|yesno:"false,true" }}" />
                        {% csrf_token %}
                        <button class="ms-1 btn btn-sm" type="submit">
                            {% if access_key.deactivated %}
                                {% translate "Activate" %}
                            {% else %}
                                {% translate "Deactivate" %}
                            {% endif %}
                        </button>
                    </form>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block body_js %}
    {{ block.super }}
    {% displaytoken_js %}
{% endblock %}
