{% extends "gcampuscore/base.html" %}
{% load i18n %}
{% block main_class %}main-pt-0 min-vh-100{% endblock %}
{% block content %}
    <div class="container-fluid px-0">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-7 px-5">
                    <p class="mt-3">
                        {% blocktranslate context "help text register" trimmed %}
                            Register your class or course and generate a list
                            of <b>access keys</b> for your students.
                            These keys can be used to create and later edit
                            measurements on GewässerCampus. <br><br>
                            Alongside the generated access keys, you will also
                            receive a <b>course token</b> that should be kept
                            private. With this key you can view and edit all
                            your student's measurements.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-5 bg-light"></div>
                {# Placeholder #}
                <div class="col-7 px-5 py-3">
                    {% with form.school_name as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {% blocktranslate context "help text school name" trimmed %}
                            The name of the school or educational institution
                            requesting new tokens. This information will not be
                            shared publicly but helps us to associate
                            measurements with your school or institution.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    {% with form.teacher_name as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {% blocktranslate context "help text teacher name" trimmed %}
                            Your name or the name of a representative. This
                            information will also be kept private and is only
                            used for communication.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    {% with form.name as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {% blocktranslate context "help text course key name" trimmed %}
                            You can choose to assign a name to the course key to
                            better differentiate the tokens from one another.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    {% with form.teacher_email as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {% blocktranslate trimmed %}
                            Your Email address will only be used to send you the
                            Course token and the Access keys. <br>
                            In case we need to contact you this Email address
                            wil be used.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    {% with form.number_of_access_keys as field %}
                        <div class="mb-3">
                            {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                            {% include "gcampuscore/forms/widgets/input.html" with widget=field.subwidgets.0.data %}
                        </div>
                    {% endwith %}
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                        {% blocktranslate with maximum=form.number_of_access_keys.field.max_value context "help text number of acess keys" trimmed %}
                            The number of access keys you want to generate. You
                            can create a maximum of {{ maximum }} access keys at
                            once. <br>
                            Students may share one access key in a group so not
                            everyone needs their own access key.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-7 px-5 py-3">
                    <div class="mb-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="TermsCheckbox" required>
                          <label class="form-check-label" for="TermsCheckbox">
                              {% blocktranslate context "register form accept terms" trimmed %}
                                  I do accept the <a href="https://gewaessercampus.de/terms">terms and conditions</a> as well as the
                                  <a href="https://gewaessercampus.de/gdp">privacy policy</a> for using this web application.
                              {% endblocktranslate %}
                          </label>
                        </div>
                    </div>
                </div>
                <div class="col-5 bg-light px-5 py-3">
                    <p class="mt-4 text-muted">
                    </p>
                </div>
                <div class="col-7 px-5 pb-5">
                    <button class="btn btn-primary btn-lg" type="submit">
                        {% translate "Register" %}
                    </button>
                </div>
                <div class="col-5 bg-light"></div>
                {# Placeholder #}
            </div>
        </form>
    </div>
{% endblock %}
