{% extends "gcampuscore/base.html" %}
{% load i18n auth_token %}
{% block title %}{% translate "Login" %}{% endblock %}
{% block content %}
    <div class="container">

        {% include "gcampusauth/components/current_token_info.html" %}
        {% if authenticated %}
            <hr class="my-4">
            <small class="text-muted">
                {% blocktranslate trimmed %}
                    If you login with a different access key or course token,
                    you will automatically be logged out from your old key.
                {% endblocktranslate %}
            </small>
        {% endif %}
        <div class="row">
            <div class="col-sm order-first">
                {% url "gcampusauth:login-course-token" as login_coursetoken_url %}
                {% url "gcampusauth:login-access-key" as login_accesskey_url %}
                {% url "gcampusauth:register" as register_url %}
                <div class="p-4 p-md-5 border bg-light">
                    <form action="{{ access_key_form_url }}" method="post">
                        <div class="row justify-content-center">
                            <div class="col">
                                {% csrf_token %}
                                {# Token #}
                                {% with access_key_form.token as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                                {{ access_key_form.next_url }}
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-block btn-sm w-100">
                                    {% translate "Login with access key" %}
                                </button>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    {% blocktranslate trimmed %}
                        Some features, for example adding a new measurement,
                        are limited to authenticated users.
                        Please use your access key to
                        log in as a student.
                        If you don't have an access key, your teacher can generate one for you.
                    {% endblocktranslate %}
                </div>
            </div>
            <div class="col-sm ">
                <div class="p-4 p-md-5 border bg-light">
                    <form action="{{ course_token_form_url }}" method="post">
                        <div class="row justify-content-center">
                            <div class="col">
                                {% csrf_token %}
                                {# Token #}
                                {% with course_token_form.token as field %}
                                    <div class="mb-3">
                                        {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                        {{ field }}
                                    </div>
                                {% endwith %}
                                {{ course_token_form.next_url }}
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-block btn-sm w-100">
                                    {% translate "Login with course token" %}
                                </button>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    {% blocktranslate trimmed %}
                        As a teacher you can
                        login with a course token. With this you will have access to an overview of all
                        measurements of your students and be able to edit and hide
                        these measurements.
                    {% endblocktranslate %}
                </div>
            </div>
            <div class="col-sm order-last">
                <div class="p-4 p-md-5 border bg-light">
                    <div class="row justify-content-center">
                        <div class="col">
                            <br><br>
                            <a href="{% url "gcampusauth:register" %}" class="btn btn-primary btn-block btn-sm w-100">
                                Register
                            </a>
                        </div>
                    </div>
                    <br><br>
                    {% blocktranslate trimmed %}
                        To be able to create a new course, you need to register by clicking the button below.
                    {% endblocktranslate %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    {% include "gcampusauth/js/token_input.html" %}
{% endblock %}
