{% extends "gcampuscore/base.html" %}
{% load static i18n auth_token %}
{% block body %}
    <div class="min-vh-100 d-flex flex-column">
    <div class="d-flex flex-column flex-md-row g-0 align-items-md-stretch align-items-center pb-4 my-auto">
        <div class="col-12 bg-white d-flex flex-column justify-content-center">
            <div class="container text-center mx-auto py-5">
                <h1 class="mb-4">
                    {% blocktranslate trimmed %}
                        Login to
                        <span class="gcampus-logo text-dark"><span>Gewässer</span>Campus</span>
                    {% endblocktranslate %}
                </h1>
                <div class="mb-3 mt-1">
                    <a role="button" class="btn btn-secondary btn-sm" href="/">
                        {% translate "Back to the web application" %}
                    </a>
                </div>
                {% if authenticated %}
                    {% include "gcampusauth/components/current_token_info.html" %}
                    {% blocktranslate trimmed %}
                        If you login with a different access key or course token,
                        you will automatically be logged out from your old key.
                    {% endblocktranslate %}
                {% else %}
                    {% blocktranslate trimmed %}
                        Login as a student using you <b>access key</b>
                        to create new measurements and edit your
                        existing ones.<br>
                        Teachers can login using a <b>course token</b>
                        to administer the course, edit measurements and
                        create new access keys.
                    {% endblocktranslate %}
                {% endif %}
            </div>
            <div class="pb-4 row g-0 justify-content-center">
                <div class="col-10 col-lg-4 px-lg-3 py-3 py-lg-0 d-flex justify-content-center align-items-start border-end-lg">
                    <h2>
                        {% include "gcampuscore/icons/person-fill.html" with extra_class="text-muted flex-shrink-0 me-3" only %}
                    </h2>
                    <div>
                        <h2 class="fw-bold mb-0">{% translate "Student" %}</h2>
                        <p>
                            {% blocktranslate trimmed %}
                                Login using an <b>access key</b>:
                            {% endblocktranslate %}
                        </p>
                        <form action="{% url "gcampusauth:login-access-key" %}" method="post">
                            {% csrf_token %}
                            {# Token #}
                            {% with access_key_form.token as field %}
                                <div class="mb-3">
                                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="box box-error mt-3 mb-1">
                                            {% include "gcampuscore/icons/exclamation-triangle-fill.html" with extra_class="flex-shrink-0 me-1" %}
                                            <span class="fw-bold">{% translate "Error" %}</span>
                                            <div class="ms-2">
                                                <ul>
                                                    {% for error in field.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                            {{ access_key_form.next_url }}
                            <button class="btn btn-primary btn-block btn-sm w-100" type="submit">
                                {% translate "Login with access key" %}
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-10 col-lg-4 mt-4 mt-lg-0 px-lg-3 py-3 py-lg-0 d-flex justify-content-center align-items-start">
                    <h2>
                        {% include "gcampuscore/icons/teacher.html" with extra_class="text-muted flex-shrink-0 me-3" only %}
                    </h2>
                    <div>
                        <h2 class="fw-bold mb-0">{% translate "Teacher" %}</h2>
                        <p>
                            {% blocktranslate trimmed %}
                                Login using a <b>course token</b>:
                            {% endblocktranslate %}
                        </p>
                        <form action="{% url "gcampusauth:login-course-token" %}" method="post">
                            {% csrf_token %}
                            {# Token #}
                            {% with course_token_form.token as field %}
                                <div class="mb-3">
                                    {% include "gcampuscore/forms/components/label.html" with class="mb-2" %}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="box box-error mt-3 mb-1">
                                            {% include "gcampuscore/icons/exclamation-triangle-fill.html" with extra_class="flex-shrink-0 me-1" %}
                                            <span class="fw-bold">{% translate "Error" %}</span>
                                            <div class="ms-2">
                                                <ul>
                                                    {% for error in field.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endwith %}
                            {{ course_token_form.next_url }}
                            <button class="btn btn-primary btn-block btn-sm w-100" type="submit">
                                {% translate "Login with course token" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row g-0 align-items-md-stretch align-items-center">
        <div class="col-12 col-md-4 bg-light flex-fill align-items-center justify-content-center py-5">
            <div class="container py-3 px-md-5 text-center">
                <h2 class="fw-bold mb-0">{% translate "Register a new course" %}</h2>
                <p class="py-1">
                    {% blocktranslate trimmed %}
                        Register a course and <b>generate access keys</b>
                        for your students, <b>create new measurements</b>, and
                        <b>publish your data</b> on GewässerCampus.
                    {% endblocktranslate %}
                </p>
                <a href="{% url "gcampusauth:register" %}" class="btn btn-lg btn-primary mb-3">
                    {% translate "Register" %}
                </a>
            </div>
        </div>
    </div>
    {% include "gcampusauth/components/footer.html" %}
    </div>
{% endblock %}
{% block body_js %}
    {% include "gcampusauth/js/token_input.html" %}
{% endblock %}
