{% load i18n static leaflet_tags tz l10n menu %}
{% with week_list_js|length as list_len %}
    <div class="range-slider">
        <span>
            {% translate "from" %}
            <input hidden
                   name="{{ widget.subwidgets.0.name }}"
                   {% if widget.subwidgets.0.value != None %}value="{{ widget.subwidgets.0.value|stringformat:'s' }}"{% endif %}
                   id="start_date" type="date"/>
            <span id="from_span"></span>
            <br>
            {% translate "to" %}
            <input hidden
                   name="{{ widget.subwidgets.1.name }}"
                   {% if widget.subwidgets.1.value != None %} value="{{ widget.subwidgets.1.value|stringformat:'s' }}"{% endif %}
                   id="end_date"
                   type="date"/>
            <span id="to_span"></span>
        </span>
        <input class="form-range" value="0" min="0" max="{{ list_len|add:"-1" }}" step="1" type="range"/>
        <input class="form-range" value="{{ list_len|add:"-1" }}" min="0" max="{{ list_len|add:"-1" }}" step="1" type="range"/>
    </div>
{% endwith %}



