body {
    margin: 1cm;
}

head, head > title, head > meta {
    display: inline;
    visibility: hidden;
    position: absolute;
    top: -1000px;
}
@page {
    @bottom-center {
    content: counter(page)"/"counter(pages);
    font-size: 10pt;
    color: $grey-800;
    }
}
