body {
    margin: 0cm;
}

head, head > title, head > meta {
    display: inline;
    visibility: hidden;
    position: absolute;
    top: -1000px;
}

@page {
    margin: 3cm 2cm 2cm 2cm; //top right bottom left
    @bottom-center {
        content: "Die Entwicklung der Webanwendung GewässerCampus durch die gemeinnützige desklab UG (haftungsbeschränkt) \A wird durch die Deutsche Bundesstiftung Umwelt finanziell gefördert.";
        font-size: 6pt;
        padding-top: 0.8cm;
        width: 13cm;
        color: #606060;
    }
}
