$primary: #4a90e2;
$secondary: #083973;

$black: #000000;
$white: #ffffff;

$grey-900: #1f1f1f;
$grey-800: #404040;
$grey-700: #5f5f5f;
$grey-600: #737373;
$grey-500: #9c9c9c;
$grey-400: #bbbbbb;
$grey-300: #dedede;
$grey-200: #ededed;
$grey-100: #f4f4f4;
$grey-50: #fafafa;

$nice-light-blue: #dfe7ec;

$running-water: #0d6efd;
$standing-water: shade-color($running-water, 60%);
$unknown-water: #6D9DC5;